\ GRS --------R-I-G-I-D-- C 001-001  AR-5           03-10-06 AL
Vocabulary GRS  \ Galvanized ridged Steel
GRS Definitions                  \                              
: 1/2        127.40 w/c    4 c ; \ not 69.32       40   10   10
: 3/4  ( : )  85.88 w/c   55 m ; \                      10   10 
: 1-in       119.75 w/c   7  c ; \                      10   10
: 1-1/4 ( :) 155.35 w/c   85 m ; \                 50   10   10 
: 1-1/2      194.58 w/c   10 c ; \                      10
: 2-in       252.69 w/c   11 c ; \                      10   30
: 2-1/2      425.22 w/c   12 c ; \
: 3-in       516.87 w/c   15 c ; \
: 3-1/2      647.51 w/c   18 c ; \
: 4-in       752.35 w/c   21 c ;
Elect                                                       
\ The TIMES have ben CUT down to under slab on grade.           

\ GRS-90                 BC 001-003  AR-5 BR-3      89-05-12 AEC
Vocabulary GRS-90                     \ Gar Temp Sold Keep Have 
                         GRS-90 Definitions \                   
: 1/2        297.29 w/c   35 c ; \                       5    5 
: 3/4        359.37 w/c   40 c ; \                       -      
: 1-in       531.04 w/c   50 c ; \                       1    3 
: 1-1/4      767.92 w/c   60 c ; \                  3    1    1 
: 1-1/2      956.90 w/c   75 c ; \                       1    2 
: 2-in      1407.78 w/c   95 c ; \                              
: 2-1/2     2366.32 w/c  150 c ; \                              
: 3-in      3537.55 w/c  200 c ; \ 25.36 Aug 00  45 is same     
: 3-1/2     6127.74 w/c  250 c ; \                              
: 4-in      7108.26 w/c  300 c ; \                              
Elect                                                           


\ PVC-GRS Coated          C 001-001  AR-5           88-10-02 AEC
Vocabulary PVC-GRS                    \ Gar Te                  
                        PVC-GRS Definitions                     
( Same time as GRS )  \ Feeders \                               
: 1/2        220.00 w/c    4  c ; \                             
: 3/4        250.00 w/c    5  c ; \                             
: 1-in          .00 w/c    6  c ; \                             
: 1-1/4      465.00 w/c    5  c ; \ a guess .............       
: 1-1/2         .00 w/c    6  c ; \                             
: 2-in          .00 w/c    9  c ; \                             
Elect                                                           
\ This is PVC coated rigid steel conduit.                       
                                                                

\ ALRC-90                BC 001-003  AR-5 BR-3      05-10-09
Vocabulary ALRC-90       Alrc-90 Definitions \
                                 \
: 1/2        272.74 w/c   35 c ; \
: 3/4        370.54 w/c   40 c ; \
: 1-in       516.29 w/c   50 c ; \
: 1-1/4      820.75 w/c   60 c ; \ March 2014         
: 1-1/4-ez   820.75 w/c   30 c ; \ Unrestricted location (NES)
: 1-1/2     1091.83 w/c   75 c ; \                              
: 2-in      1607.19 w/c   95 c ; \                              
: 2-1/2     2708.90 w/c  150 c ; \                              
: 3-in      4184.03 w/c  200 c ; \                              
: 3-1/2     6525.79 w/c  250 c ; \                              
: 4-in      7737.69 w/c  300 c ; \                              
Elect                                                           
\ Also: 45 degree ALRC  1-1/2                                   


\ COUPLING Rigid Steel                              06-06-04 AL
Vocabulary COUPLING                   \ Gar Te                  
  COUPLING definitions  \ Sold  \                               
: 1/2        100.52 w/c    0 c ; \                              
: 3/4        123.37 w/c    0 c ; \                              
: 1-in       230.00 w/c    0 c ; \ 9-93                         
: 1-1/4      217.64 w/c    0 c ; \                              
\ 1-1/4 ( Steel )                                               
: 1-1/2      274.78 w/c    0 c ; \                              
: 2-in       363.19 w/c    0 c ; \ 1.50 5-10-05                 
: 2-1/2      805.06 w/c    0 c ; \                              
: 3-in      1099.47 w/c   25 c ; \  Roake                       
: 3-1/2     1469.45 w/c    0 c ; \                              
: 4-in      1647.83 w/c   35 c ; \ ,                            
Elect                                                           
: T-COUP  COUPLING  ; : SLEVE  COUPLING ;                       


\ SWEEP  24-in radius     C 001-004  BR-3           12-16-01 BEC
Vocabulary SWEEP          SWEEP Definitions    \ Sold Keep Have
: 1-1/2       69.00 w/e   56 c ; \ Too small 2-in minimum PG&E   
: 2x24        42.00 w/e   75 c ; \ 29.86 Aug 96  30.61 Aug 03   
: 2x24-PVC    45.00 w/e   75 c ; \ Minimum & 24-in radius PG&E  
: 2x36        75.00 w/e   75 c ; \    $40.43            to 200A 
: 3x24        72.00 w/e  200 c ; \ was 55.00                    
: 3x45        53.00 w/e  100 c ; \ Bothe                        
: 3x36        80.00 w/e  350 c ; \ 175 hr 78.00 Apr 00  to 400A 
: 4x36       117.00 w/e  225 c ; \ 225 hr 36-in radius  106.00  
\ 4-in              w/e  225 c ; \                              
Elect                                                           
                                                                

\ ALRC ---------A-L-R-C-- C 001-021  AR15 BR13      07-08-07 AL
Vocabulary ALRC          ALRC Definitions \ STALE PRICES!!!!!
\ Keep this one on line as the ALRC in AMPIER 9  depends on it
: 1/2         89.74 w/c   5  c ; \  5    -               -
: 3/4        119.44 w/c   6  c ; \  6    -
: 1-in       170.15 w/c   7  c ; \  9-93 less
: 1-1/4      324.00 w/c   8  c ; \  March 2014                   
: 1-1/2      369.80 w/c   9  c ; \  HD 10-19-2919 276.93 Aug 98  
: 2-in       424.00 w/c  10  c ; \  29.00
: 2-1/2      585.37 w/c  11  c ; \  -   11
: 3-in       768.94 w/c  14  c ; \  -   14
: 3-1/2      922.86 w/c  16  c ; \  -   16
: 4-in      1093.32 w/c  19  c ; \  -   19   ,
: 5-in      1563.70 w/c  24  c ; \  24       ,                   
Elect \ LSI times are 33% quicker than NECA times.  That quick? 
\ STALE PRICES !!! CK ALSO RISER.MOD                            


\ NIPPLE-GENERIC Not Temp!  001-029a BR-4  AR-6     06-06-04 AL
Vocabulary NIPPLE-GENERIC NIPPLE-GENERIC Definitions    \ See ne
: 1/2         98.32 w/c   35 c ; \ x3"              3         0 
: 3/4        111.14 w/c   40 c ; \ x3"                          
: 1-in       159.68 w/c   45 c ; \ x3"                          
: 1-1/4      221.03 w/c   50 c ; \ x4"                          
: 1-1/2      295.59 w/c   60 c ; \ x4"                          
: 2-in       449.99 w/c   70 c ; \ x5"                          
: 2-1/2     1071.79 w/c   75 c ; \ x6" ,                        
: 3-in      1248.43 w/c   90 c ; \ x6" ,                        
: 3-1/2     1847.50 w/c  110 c ; \ x8" ,                        
: 4-in      2086.76 w/c  130 c ; \ x8" ,                        
: 5-IN      3472.31 w/c  170 c ; \ x8" ,                        
: 6-in      4310.37 w/c  200 c ; \ x8" ,                        
Elect                                                           
\ Aluminimum costs more than GRS   These prices are for steel   


\ NIPPLE-CLOSE              001-029b BR-4  AR-6     89-02-04 AEC
Vocabulary NIPPLE-CLOSE  NIPPLE-CLOSE Definitions   \ Keep Have 
\ 1/2                              3000                         
\ 3/4                                                    -      
\ 1-IN                                                   1    1 
: 1-1/4             w/c   50 c ; \                       1    1 
\ 1-1/2                          \ 3036                         
: 2-in              w/c   70 c ; \                       1    1 
Elect                                                           
                                                                

\ NIPPLE                    001-029c BR-4  AR-6     89-02-04 JAP
Vocabulary NIPPLE     NIPPLE Definitions  \ Temp Sold Keep Have 
: 1/2x2-in     92.87  w/c   25 c ; \                     1    1 
: 3/4x6       182.08  w/c   30 c ; \                     -      
: 1x1-1/2     145.91  w/c   35 c ; \                     1    1 
: 1-1/4X2     185.51  w/c   40 c ; \                            
: 1-1/4X2-1/2 198.93  w/c   50 c ; \                4    1    4 
: 1-1/4x3     212.12  w/c   50 c ; \                     1    5 
: 1-1/4x4     238.71  w/c   50 c ; \                     1    1 
: 1-1/4x6     238.71  w/c   50 c ; \                     1    1 
: 1-1/2x1-3/4 219.78  w/c   60 c ; \                     1    1 
: 1-1/2x2     219.78  w/c   60 c ; \                     1    2 
: 1-1/2x2-1/2 248.13  w/c   60 c ; \                     1    1 
: 1-1/2x3     266.87  w/c   60 c ; \                          1 
: 1-1/2x4     319.24  w/c   60 c ; \ 3039                1    1 
: 3X8         946.70  w/c   90 c ; Elect \               1    1 


\ L-N  ( Lock Nut )                  AB 001-071 AB  06-06-04 AL
Vocabulary L-N           L-N Definitions  \ Temp Sold Keep Have 
: 1/2         22.00 w/c  0 c ; \                    3   20   22 
: 3/4         19.00 w/c 12 c ; \                        10   10 
: 1-in        13.00 w/c 15 c ; \ 9-93 SES                9    9 
: 1-1/4       44.00 w/c 17 c ; \ .38 Mar 08        16    8   14 
: 1-1/2       67.00 w/c 22 c ; \                    2   10    6 
: 2-in        97.00 w/c 26 c ; \                    5    4    4 
: 2-1/2      235.00 w/c 31 c ; \ OS nip not made this size!     
: 3-in       300.00 w/c 38 c ; \ time guesses here and below    
: 3-1/2      525.00 w/c 45 c ; \                                
: 4-in       650.00 w/c 55 c ; \                                
Elect \  Steel and Malable                                      
\ The time is included with the fitting                         
\ EXCEPTION: Running thread or threaded rigid pipe              
\ I am using times that are half of "O" ring L-N                


\ BUSHING plastic         B 001-075  B INC          09-15-08 AL
Vocabulary BUSHING                    \ Gar Temp Sold Keep Have 
                         BUSHING Definitions                    
\ 1/8                                                           
: 1/2         13.00 w/c  20 m ; \        20         1   10   12 
: 3/4         19.00 w/c  25 m ; \         8         1    6   19 
: 1-in        33.00 w/c  29 m ; \        10              8   20 
: 1-1/4       46.00 w/c  33 m ; \        20         1   15   20 
: 1-1/2       63.00 w/c  44 m ; \        10         1    8    6 
: 2-in       111.00 w/c  53 m ; \ Now 55 cents on 9-15-08       
: 2-1/2      240.00 w/c  61 m ; \ Using m so time can be decima 
: 3-in       275.00 w/c  68 m ; \                               
: 3-1/2      335.00 w/c  73 m ; \                               
: 4-in       415.00 w/c  89 m ; \                               
Elect \ Times added from Means, inc termination                 
\ Time is inc with the fitting.                                 


\ STRAP-2-HW Heavy Wall   B 001-079                 88-10-02 AEC
Vocabulary STRAP-2-HW    STRAP-2-HW    Definitions  \ Keep Have 
                                          \ Temp Sold Keep Have 
\ 1/2          9.10 w/c   0 c ; \                       15   15 
\ 3/4          8.75 w/c   0 c ; \                       15   15 
\ 1-in        10.35 w/c   0 c ; \                       10   10 
: 1-1/4       26.90 w/c   0 c ; \                  12   12   17 
: 1-1/2       31.40 w/c   0 c ; \                       10    3 
\ 2-in        41.60 w/c   0 c ; \                       10   10 
\ 2-1/2       77.30 w/c   0 c ; \                               
: 3-in        95.95 w/c   0 c ; \                               
\ 3-1/2      123.15 w/c   0 c ; \                               
\ 4-in       135.90 w/c   0 c ; \                               
Elect \  : STRAP-2-GRS  strap-2-rigid ;                         
\ : S2R  strap-2-rigid ;                                        
\ (One hole costs twice as much)                                


\ STRAP-1-HW              B 001-081                 08-05-89 AEC
Vocabulary STRAP-1-HW     STRAP-1-HW    Definitions \ Keep Have 
\ 3/8         22.20 w/c   0 c ; \           Temp Sold Keep Have 
: 1/2         12.60 w/c   0 c ; \                       10   10 
: 3/4         15.30 w/c   0 c ; \                       10   10 
: 1-in        30.20 w/c   0 c ; \                        8    8 
: 1-1/4       41.70 w/c   0 c ; \                       12   12 
: 1-1/2       49.30 w/c   0 c ; \                        2    1 
: 2-in        94.40 w/c   0 c ; \                        4    4 
\ 2-1/2      141.00 w/c   0 c ; \ City                          
\ 3-in       157.00 w/c   0 c ; \ City                          
\ 3-1/2      233.00 w/c   0 c ; \ City                          
\ 4-in       294.00 w/c   0 c ; \ City                          
Elect : STRAP-1-GRS  strap-1-HW ; \                             
\ : S1R  strap-1-HW    ;                                        
\ Two hole stamped steel costs half as much )                   


\ RT-90 pulling elbo      B 001-091  AR-17          06-06-04 AL
Vocabulary PULLING-ELBO               \ Gar Temp Sold Keep Have 
PULLING-ELBO    Definitions                                     
: 1/2        171.00 w/c   60 c ; \                 11   12   23 
: 3/4        266.00 w/c   70 c ; \                       1    7 
: 1-in       346.00 w/c   90 c ; \                              
: 1-1/4      457.00 w/c  110 c ; \                              
: 1-1/2    1139.00 w/c  125 c ; \                               
: 2-in     1845.00 w/c  165 c ; \                               
Elect                                                           
: RT-90   Pulling-Elbo ;                                        
: PULLING-EL pulling-elbo ;                                     
\  Same price Female to Female,  or Male to Female              
\ WATCH IT!    Competitive grade prices.                        
\ inexpensive and regular (Red Dot) at about twice as much.     
                                                                

\ NT-CON   Threadless     B 001-092  BR-6           04-07-00 BEC
Vocabulary NT-CON                     \ Gar Temp Sold Keep Have
NT-CON Definitions                                              
: 1/2        165.00 w/c   12 c ; \                       2    6 
: 3/4        263.00 w/c   14 c ; \                       1    2 
: 1-in       386.00 w/c   16 c ; \ 9-93 was low          1    2 
: 1-1/4      958.00 w/c   25 c ; \ 900  March 2014                             
: 1-1/2      932.00 w/c   30 c ; \                       2    2 
: 2-in      2150.00 w/c   40 c ; \                       1    1 
: 2-1/2     5820.00 w/c   60 c ; \                       -      
: 3-in      8602.50 w/c   75 c ; \   Mar 00 Roake               
\ 3-1/2             w/c          \                              
: 4-in     12370.00 w/c  100 c ; \                              
Elect  : THREADLESS   nt-con ;
\ Nipples are advised in the larger diamaters.  Page 1-27       
\ Aluminum nipples cost less than rigid steel.                  


\ NT-COUP                 B 001-093  BR-5           06-06-04 AL
VOCABULARY NT-COUP       NT-COUP DEFINITIONS   \ Sold Keep Have 
                                                                
: 1/2        259.00 w/c   25 C ; \                       -    0 
: 3/4        383.00 w/c   30 C ; \                       1    1 
: 1-in       648.00 w/c   40 C ; \                       1    1 
: 1-1/4     1391.00 w/c   50 C ; \ 10.96 Jul 00              2  
: 1-1/2    1240.00 w/c   60 C ; \                       1    1  
: 2-in     2820.00 w/c   70 C ; \                       -       
: 2-1/2    8200.00 w/c   85 c ; \                               
: 3-in    10950.00 w/c  100 c ; \                               
\ 4-in    18640.00 w/c  110 c ; \                               
Elect                                                           
\  CAUTION  PRICES WENT UP                                      
                                                                

\ Reducing-Bushing        B 001-099                 89-05-06 AEC
Vocabulary R-B              R-B definitions                     
                                                                
: 3/4-1/2      87.00 w/c   1 c ; \                       1      
\ 1-1/4x1                        \                       1    5 
: 1-1/2x1            w/c   1 c ; \                       1    3 
: 1-1/2x1-1/4 400.00 w/c   1 c ; \                       1    1 
\ 1-1/2x2            w/c   1 c ; \                       1    1 
\ 1-1/2x3/4          w/c   1 c ; \                       1    1 
Elect                                                           
: Reducing-Bushing  R-B ;                                       
: Red-Bush  R-B ;                                               
: Reducing-Bush  R-B ;                                          
\ o.d.                                                          
                                                                

\ Speed-nipple  S-N       B 001-102  AR-6  BR 5     88-10-02 AEC
Vocabulary Speed-Nipple                                         
Speed-Nipple Definitions        \       Gar Temp Sold Keep Have 
: 1/2         33.30 w/c  12 c ; \        10    4    2    8   12 
: 3/4         45.70 w/c  15 c ; \         4              2   16 
: 1-in        85.70 w/c  17 c ; \         4              2    7 
: 1-1/4      135.00 w/c  20 c ; \  1764   4              2    4 
\ 1-1/2      175.00 w/c  22 c ; \         4              2    6 
\ 2-in       268.00 w/c  25 c ; \         1              1    2 
: 3-in       748.00 w/c  40 c ; \                        0      
Elect                                                           
: S-N Speed-Nipple  ;                                           
: CHASE-NIPPLE  S-N ;                                           
: SPEED         S-N ;                                           
: Speed-Nip     S-N ;                                           

Vocabulary OS-Nip
                         OS-NIP Definitions                     
: 100A       775.00 w/c  106 c ; \                              
: 1/2        185.10 w/c   25 c ; \ 0.87 Feb 99                  
: 3/4        194.00 w/c   30 c ; \                              
: 1-in       237.10 w/c   35 c ; \
: 1-1/4      520.20 w/c   40 c ; \
: 1-1/2      643.70 w/c   45 c ; \ 2.71 Feb 99
: 2-in      1016.70 w/c   50 c ; \
: 2-1/2      beep ." Not made" ; \
: 3-in      3325.60 w/c   70 c ;                                
\ Not made                                                      
Elect   : OS-nipple  os-nip ;                                   
\ See OS-NIP 30A in \ele\ampier.scr  OS-NIP VV 30A for 3 phayse 
                                                                

\ Red  Reducing washer   AB 001-111  JP-1           05-06-08 AL
Vocabulary Red             Red Definitions  \  Have             
: 1/2x3/4      5.67 w/c   5 c ; \                        8    8 
: 1/2x1-in     9.43 w/c   5 c ; \                        6    6 
: 3/4x1-in     9.43 w/c   5 c ; \                        8   17 
: 3/4x1-1/4   15.99 w/c   5 c ; \                        4    8 
: 3/4x1-1/2   19.61 w/c   5 c ; \                        2    7 
: 1x1-1/4     15.99 w/c   5 c ; \                        2    7 
: 1x1-1/2     19.61 w/c   5 c ; \                        2    7 
: 1-1/4x1-1/2 15.99 w/c   6 c ; \                        6   13 
: 1-1/4x2-in  15.99 w/c   6 c ; \                        4   14 
: 1-1/2x2-in  19.61 w/c   7 c ; \                        2    5 
: 1-1/2x2-1/2 19.61 w/c   7 c ; \                        2    2 
: 2x2-1/2     26.34 w/c   8 c ; \                   2    2    6 
: 3X4        534.00 w/c  10 c ; \                        2    2 
Elect
: Reducing-washer  Red ;
: R-W  Red ;                   


\ KO-SEAL   Bar type    ABC 001-112  JP-1           09-17-08 AL
Vocabulary  KO-Seal      Ko-Seal definitions
: 1/2         40.00 w/c   2 c ; \ A  1988 prices                
: 1/2-code    32.00 w/c  10 c ; \ A                             
: 3/4         34.03 w/c   2 c ; \ A                             
: 1-in        41.58 w/c   3 c ; \ A                             
: 1-1/4       62.95 w/c   4 c ; \ A                             
: 1-1/2      100.25 w/c   5 c ; \ B                             
: 2-in       122.95 w/c   6 c ; \ B                             
: 2-1/2      141.60 w/c   7 c ; \ B 3841
: 3-in       190.40 w/c   8 c ; \ B
: 3-1/2      193.78 w/c   9 c ; \ B
: 4-in       244.38 w/c  10 c ; \ B
: 4-1/2      381.00 w/c  11 c ; \ B
: 5-in       661.25 w/c  12 c ; \ B
Elect                     : Knockout-Seal KO-Seal ;             

\ THREADED-FILL         ABC 001-113  JP-2           88-10-02 AEC
Vocabulary THREADED-FILL THREADED-FILL Definitions              
                                                                
\ 1/2      122
\ 3/4      146                                                  
\ 1-1/4    194                                                  
\ 1-1/2    265                                                  
Elect                                                           
                                                                

\ RUNNING Thread          B 001-116  BR-6 AR-13     88-10-02 AEC
Vocabulary RUNNING                    \ Gar Temp Sold Keep Have 
RUNNING Definitions             \                               
\ 3/8                           \                               
: 1/2      1487.19 w/m   6 c ; \ inches                10   30  
: 3/4      1729.87 w/m   7 c ; \ ,                     10   35  
: 1-in     3081.43 w/m   8 c ; \                       10   36  
\ 1-1/4                  13 c ; \                               
\ 1-1/2                  15 c ; \                               
\ 2-in                   20 c ; \                               
\ 3-1/2                                                         
Elect                                                           
\ Last 2-in not threaded, 5 in remainder unusable.              
\ The above is designed for input per inch thread.              
\ Labor for 2 ends added by changing quantity to 2.             
                                                                

\ Rewire                 BC 010-001  AR-13          04-26-09
Vocabulary Rewire  ( PLUS TRAVEL TIME TO SHOP! )                
Rewire Definitions               \  Parts Time                  
: Pendant    700.00 w/c  50 c  ; \  500.00   50 000  50         
: 1-arm      700.00 w/c  70 c  ; \  500.00   70 000 260         
: 2-arm     1400.00 w/c 100 c  ; \  500.00   80 190 270         
: 3-arm     2100.00 w/c 250 c  ; \  750.00   90 190 280         
: 4-arm     2800.00 w/c 300 c  ; \  900.00  110 190 300         
: 5-arm     3500.00 w/c 320 c  ; \ 1300.00  130 190 320         
: 6-arm     4200.00 w/c 340 c  ; \ 1600.00  150 190 340         
: 8-arm     5600.00 w/c 360 c  ; \ 1900.00  170 190 360         
: 9-arm     6300.00 w/c 375 c  ; \ 2100.00  185 190 375         
: Lampholder   4.46 w/c  50 c  ; \ at Clifs Oct 95 was 3.00     
Elect  \       4.50 + 2.50 = 700 ea Oct 2007                    
       \ Hi temp wire is 1.40 per foot                          
                                                                
\ EMT ------------E-M-T-- C 010-001  AR-13          08-20-08 AL
Vocabulary EMT \ Electric Metalic Tubing
EMT Definitions
\ No back tick if  m     Normal \
: 1/2         28.10 w/c  45 m ; \  Home Depot 10-19-2019
: 3/4         50.20 w/c  50 m ; \  Home Depot must be an error
: 1-in        84.20 w/c  55 m ; \  Home Depot 10-19-2019
: 1-1/4      139.00 w/c  62 m ; \
: 1-1/2      165.80 w/c  70 m ; \
: 2-in       194.70 w/c  80 m ; \ was 230.00
: 2-1/2      374.00 w/c  95 m ; \ was 374.00
: 3-in       463.00 w/c  11 c ; \ Not on HD list
: 3-1/2      695.00 w/c  13 c ; \
: 4-in       692.00 w/c  16 c ; \
Elect \  Stud wall = 4x if 1-1/2" Steiner  See LF-EMT
\ Add 28% for ladder to 12 feet.
\ Normal to 8 feet, "T" bar, gun or on man lift.

\ SS-CON  \ Set-screw connector
.( This file may be out of date )
Vocabulary SS-CON
SS-CON Definitions              \
: 1/2         12.10 w/c   8 c ; \ 12.00 Mar 09
: 3/4         21.00 w/c  10 c ; \ 0.2048 4-25-09
: 1-in        39.00 w/c  12 c ; \ 9-93
: 1-1/4      100.20 w/c  16 c ; \ 1.00 Jun 95
: 1-1/2      150.90 w/c  20 c ; \
: 2-in       202.60 w/c  25 c ; \
: 2-1/2      663.00 w/c  30 c ; \
: 3-in       795.30 w/c  40 c ; \
: 3-1/2     1125.50 w/c  50 c ; \ ,
: 4-in      1309.00 w/c  60 c ; \
Elect
\ Die Cast Steel, EFCOR prices

\ OS-CON  \ Offset connector
Vocabulary OS-CON
OS-CON Definitions      \                                       
: 1/2                 w/c   8 c  ; \                     2    2
: 3/4                 w/c  10 c  ; \                     1    1
: 1-in                w/c  12 c  ; \                     0
: 1-1/4               w/c  15 c  ; \                     0
Elect                                                           

\ SS-COUP   Die Cast set-screw coupling
Vocabulary SS-COUP                                              
                    SS-COUP DEFINITIONS                         
: 1/2         15.00 w/c   4 c ; \ 14.82 Mar 09                  
: 3/4         37.20 w/c   5 c ; \ 0.2366 4-25-09                
: 1-in        65.00 w/c   6 c ; \                               
: 1-1/4      112.90 w/c   7 c ; \ 1.13 Jun 95                   
: 1-1/2      163.80 w/c   8 c ; \ 1.04                          
: 2-in       217.60 w/c   9 c ; \                               
: 2-1/2      554.60 w/c  10 c ; \                               
: 3-in       621.20 w/c  11 c ; \                               
: 3-1/2      751.40 w/c  12 c ; \                               
: 4-in       832.90 w/c  14 c ; \                               
ELECT                                                           

\ RT-CON                  B 010-017  AR-13          10-06-07 AL
Vocabulary RT-Con        RT-Con Definitions    \ Sold Keep Have 
\             18.00              \ Danny on 2-2-93              
: 1/2         79.70 w/c   12 c ; \ 0.77 June 07                 
: 3/4         49.00 w/c   14 c ; \                  6   20   19
: 1-in        82.00 w/c   16 c ; \                  2   15   13
: 1-1/4      139.00 w/c   20 c ; \                       4    4
: 1-1/2      201.10 w/c   30 c ; \                       2    4
: 2-in       295.60 w/c   40 c ; \                       2    2
: 2-1/2     1064.10 w/c   50 c ; \
: 3-in      1494.00 w/c   60 c ; \
: 3-1/2     2081.60 w/c   70 c ; \
: 4-in      2310.20 w/c   80 c ; \
Elect                          \
\  Because all but 1/2 are too low priced                       

\ RT-COUP   Die Cast      B 010-019  AR-13          06-12-07 AL
Vocabulary RT-Coup       RT-Coup Definitions   \                
                                                                
: 1/2         72.00 w/c  06 c ; \ June 07                       
\ Update the prices below they went up                          
: 3/4         57.10 w/c  08 c ; \
: 1-in        97.40 w/c  10 c ; \
: 1-1/4      182.36 w/c  13 c ; \ Nov 2005
: 1-1/2      236.70 w/c  15 c ; \
: 2-in       322.70 w/c  18 c ; \ May 98
: 2-1/2      600.00 w/c  36 c ; \ Guess in 2000
Elect  \   NECA is way to high                                  
\ Error?   SS-COUP labor is included in the run of pipe         

\ SS-90 pulling elbo      B 010-020  AR-09          88-10-02 AEC
Vocabulary SS-90                          \ Used Sold Keep Have 
SS-90           Definitions                 \                   
: 1/2        182.20 w/c  50 c ; \ Top p             4   18    2 
: 3/4        296.00 w/c  60 c ; \                        2    4 
: 1-in       382.90 w/c  75 c ; \                        -      
: 1-1/4      512.20 w/c  90 c ; \                        -      
ELECT  \                                                        
: PULLING-ELBO-SS SS-90 ; \ About the same                      
\                                                               
\ RT-90 is on page 001-091                                      
\  The labor units are interpolated from EMT factory elbos.     
\  They are also the same times used for the LB                 
\  The price small book does not list SS-90,                    
\  just threaded RT-90                                          

\ EMT-90                  B 010-020  AR-09          88-10-02 AEC
Vocabulary EMT-90                         \ Used Sold Keep Have
EMT-90          Definitions                                       
: 1/2         28.00 w/c  25 c ; \ Oct 2019
: 3/4         50.00 w/c  35 c ; \ Bend you own  
: 1-in       300.00 w/c  75 c ; \ Guess
: 1-1/4      429.00 w/c  90 c ; \ 2.44 Jun 95                   
: 1-1/2      542.00 w/c  90 c ; \ 3.39 SES Dec 96               
\ 1-1/2-45                      \ 3.40 SES Dec 96               
: 2-in       868.00 w/c  90 c ; \                               
: 2-1/2     2000.00 w/c  90 c ; \ Guess in 2000                 
: 3-in      3837.00 w/c 125 c ; \ 1989 prices                   
ELECT  \

\ STRAP-2-EMT             B 010-023                 88-10-02 AEC
Vocabulary Strap-2-EMT                    \ Used Sold Keep Have
                         STRAP-2-EMT Definitions  \
: 1/2          6.92 w/c   0 c ; \                       15  200
: 3/4          8.91 w/c   0 c ; \                       15   21
: 1-in        12.76 w/c   0 c ; \                   3   10   20
: 1-1/4       19.94 w/c   0 c ; \                       12   12
: 1-1/2       24.62 w/c   0 c ; \                       10   11
: 2-in        33.78 w/c   0 c ; \                       10   10
: 2-1/2       73.89 w/c   0 c ; \                        -
: 3-in        90.81 w/c   0 c ; \                        -
: 3-1/2      133.21 w/c   0 c ; \                        -
: 4-in       147.39 w/c   0 c ; \                        -
Elect \
\ (One hole costs twice as much)

\ STRAP                   B 010-024                 04-25-09
Vocabulary Strap         STRAP Definitions    \ Keep Have
: 3/8         15.80 w/c   3 c ; \
: 1/2         15.80 w/c   2 c ; \ 9-93 less
: 3/4         19.10 w/c   1 c ; \ 0.1343 4-25-09
: 1-in        10.00 w/c   1 c ; \ 9-93
: 1-1/4       34.00 w/c   1 c ; \ March 2014    
: 1-1/2       61.60 w/c   1 c ; \                               
: 2-in       118.00 w/c   1 c ; \                               
: 2-1/2      176.00 w/c   1 c ; \                               
: 3-in       196.00 w/c   1 c ; \                               
: 3-1/2      291.00 w/c   1 c ; \                               
: 4-in       368.00 w/c   1 c ; \                               
Elect  : STRAP-1-EMT strap ;                                    
\                                                               
\ Two hole costs 1/2 as much                                    

\ NAILER  Drive strap     B 010-028                 89-04-28 AEC
Vocabulary Nailer        Nailer Definitions    \ Sold Keep Have 
: 1/2         14.10 w/c   1 c ; \   Raco          438  200  235 
: 3/4         15.32 w/c   1 c ; \                        7  107 
: 1-in        26.86 w/c   1 c ; \                       25  125 
Elect                                                           
                                                                
: NAIL-DRIVE-STRAP   nailer ;                                   
\                                                               
\ Inc Bridgeport                                                
\ NOTE: Wide fluctuation in manufacturer's prices.              

\ CONDUIT-HANGER            010-03X  BH-7           89-01-04 AEC
Vocabulary CONDUIT-HANGER                                       
                   CONDUIT-HANGER Definitions                   
: 1/2         15.00 w/c    8 c ; \ Guess                        
: 3/4         20.00 w/c   10 c ; \ SES                          
: 1-in        25.00 w/c   12 c ; \ SES                          
: 1-1/4       30.00 w/c   16 c ; \ Guess                        
: 1-1/2             w/c   20 c ; \
: 2-in              w/c   25 c ; \
: 2-1/2             w/c   30 c ; \
: 3-in              w/c   40 c ; \
: 3-1/2             w/c   50 c ; \
: 4-in              w/c   60 c ; \
Elect \                                                         
\ See also SECURE HANGER-ROD                                    
  ( Check times   all most all re guesses !!!)                  

\ PVC PIPE                C 020-011  AR-21  BR-19   09-15-08 AL
Vocabulary PVC-Pipe      PVC-pipe  Definitions \ Sold Keep Bsmt 
: 1/2         24.39 w/c   25 m ; \                      10  100 
: 3/4         32.36 w/c   30 m ; \                      10   10 
: 1-in        48.29 w/c   40 m ; \                      20   20 
: 1-1/4       65.75 w/c   41 m ; \                       -      
: 1-1/2       78.78 w/c   42 m ; \ m is correct else too high   
: 2-in       103.21 w/c   45 m ; \ 103.21 now 72.50             
: 2-1/2      165.70 w/c   48 m ; \ Using m for decimal          
: 3-in       196.94 w/c   50 m ; \                              
: 3-1/2      253.02 w/c   53 m ; \
: 4-in       276.46 w/c   55 m ; Elect                          
Vocabulary PVC-LB  PVC-LB definitions                           
: 2-in       143.30 w/c  500 m ; \  much more than a ft of pipe 
Elect


\ PVC-90                  C 020-011  AR-21          09-15-08 AL
Vocabulary PVC-90        PVC-90 definitions    \ Sold Keep Bsmt 
: 1/2        109.00 w/c    5 c ; \                       2    3
: 3/4        155.00 w/e    6 c ; \                       2    7
: 1-in       236.00 w/c    4 c ; \                       2    6
: 1-1/4      317.00 w/c   42 c ; \                       2    -
: 1-1/2      469.00 w/c   45 c ; \ ? is correct          2    3 
: 2-in       634.00 w/c   50 c ; \                       2      
: 2x24       755.00 w/c   65 c ; \                       2
: 2-1/2     1115.00 w/c   55 c ; \
: 3-in      2147.00 w/c   60 c ; \
: 3-1/2        -          70 c ; \
: 4-in      3504.00 w/c   80 c ; Elect                          
Vocabulary PVC-45  PVC-45 definitions                           
: 2-in       400.00 w/c   40 m ; \ Guess                        
Elect

\ PVC-COUP  (Rigid)   101   020-012  LL-0    Times> 09-15-08 AL
Vocabulary PVC-Coup      PVC-Coup Definitions  \ Sold Keep Bsmt 
: 1/2         21.00 w/c  10 c ; \                               
: 3/4         25.00 w/c  10 c ; \                               
: 1-in        40.00 w/c  10 c ; \                               
: 1-1/4       53.00 w/c  10 c ; \                               
: 1-1/2       70.00 w/c  12 c ; \ m is correct                  
: 2-in        97.00 w/c  14 c ; \ Now 71 cents 9-15-08          
: 2-1/2      173.00 w/c  17 c ; \
: 3-in       275.00 w/c  20 c ; \
: 3-1/2      310.00 w/c  25 c ; \
: 4-in       425.00 w/c  30 c ; \
Elect
\ Labor inc in raceway                                          

\ PVC-FEMALE                020-017  AR-21 BR-19    09-15-08 AL
Vocabulary PVC-Female    PVC-Female  Definitions \    Keep Bsmt 
: 1/2         25.00 w/c  10 c ; \                    4   12
: 3/4         42.00 w/c  12 c ; \                    2    9
: 1-in        58.00 w/c  14 c ; \
: 1-1/4       74.00 w/c  16 c ; \
: 1-1/2       80.00 w/c  19 c ; \ m was wrong        1    1
: 2-in       111.00 w/c  22 c ; \                    2    3
: 2-1/2      210.00 w/c  27 c ; \                    -
: 3-in       320.00 w/c  30 c ; \
: 3-1/2      420.00 w/c  35 c ; \
: 4-in       470.00 w/c  40 c ; \
: 5-in      1200.00 w/c  45 c ; \
: 2-in-bell    3.05 w/e  22 c ; \                               
Elect
\ For sizes thru 3-1/2 male and female are the same price       

\ PVC-MALE                  020-017  AR-21 BR-19    09-15-08 AL
Vocabulary PVC-Male      PVC-Male    Definitions \    Keep Bsmt 
: 1/2         25.00 w/c  10 c ; \ <- Br                   6
: 3/4         42.00 w/c  12 c ; \                         6
: 1-in        58.00 w/c  14 c ; \
: 1-1/4       74.00 w/c  16 c ; \
: 1-1/2       80.00 w/c  19 c ; \                         3
: 2-in       111.00 w/c  22 c ; \
: 2-1/2      210.00 w/c  27 c ; \
: 3-in       320.00 w/c  30 c ; \
: 3-1/2      420.00 w/c  35 c ; \
: 4-in       470.00 w/c  40 c ; \
: 5-in      1200.00 w/c  45 c ; \
: 6-in      1375.00 w/c  50 c ; \
Elect                                                           
\ For sizes thru 3-1/2 male and female are the same price       

\ FLEX    - - F-L-E-X - C 030-009  AR-19          08-03-89 AE
Vocabulary Flex          Flex Definitions \ Used Sold Keep Have 
: Loom         5.50 w/c  3  c ; \                       10
: 1/2         31.60 w/c  4  c ; \                1638   33   49
: 3/4         44.30 w/c  5  c ; \                 120   20  180
: 1-in        83.50 w/c  8  c ; \
: 1-1/4      105.30 w/c 11  c ; \
: 1-1/2      125.30 w/c 15  c ; \ Guess time
Elect  \   Zone A     Aluminum                                  

\ FLEX-COUP               C 030-021b AR-19          08-03-89 AEC
Vocabulary Flex-Coup     Flex-Coup definitions \ Sold Keep Have
: 1/2         41.15 w/c  11 c ; \                   1    3   15
: 3/4         68.20 w/c  12 c ; \                   4    1    1
: 1-in       119.60 w/c  15 c ; \                        1    1
Elect              \                        -                   

Vocabulary FLEX-TO-EMT  FLEX-TO-EMT definitions
\ 1/2                           \                        2    5
: 3/4          2.51 w/c  15 c ;  \                        1    2
Elect

\ FLEX-CON              C 030-021a AR-19 88-08-06 08-06-89 AEC
Vocabulary Flex-Con      FLEX-CON definitions  \ Sold Keep Have 
: 3/8               w/c  10 c ; \                       40  113
: 1/2         26.60 w/c  11 c ; \                 208   14   12
: 3/4         64.00 w/c  12 c ; \                   4    6    6
: 1-in       107.10 w/c  15 c ; \                        2    3
: 1-1/4      107.10 w/c  15 c ; \                        2    2
: 1-1/2      107.10 w/c  15 c ; \                        2    5
Elect                                                           


\ LT-FLEX  (UL approved)  B 030-031  BR-18          06-12-07 AL
VOCABULARY LT-Flex       LT-FLEX DEFINITIONS \                  
: 3/8        134.50 w/c   5 c ; \
: 1/2        159.00 w/c   6 c ; \
: 3/4        216.90 w/c   8 c ; \ 1.21 June 07
: 1-in       326.35 w/c  12 c ; \
: 1-1/4      431.55 w/c  18 c ; \
: 1-1/2      504.20 w/c  21 c ; \
: 2-in       627.70 w/c  25 c ; \
: 2-1/2    1143.10 w/c  35 c ; \
: 3-in     1614.95 w/c  50 c ; \
: 3-1/2                  60 c ; \
ELECT                                                           


\ LT-CON  Non insulated   B 030-032  AR-18          88-10-02 AEC
Vocabulary LT-Con        LT-CON DEFINITIONS    \ Sold Keep Have 
: 1/2        171.00 w/c  12 c ; \ T&B                    2   11
: 3/4        243.00 w/c  15 c ; \                        2
: 1-in       357.00 w/c  20 c ; \
: 1-1/4      615.00 w/c  23 c ; \
: 1-1/2      875.00 w/c  30 c ; \
: 2-in     1600.00 w/c  35 c ; \
: 2-1/2    7730.00 w/c   0 c ; \
: 3-in     8700.00 w/c   0 c ; \
: 3-1/2    9776.10 w/c   0 c ; \
: 4-in    10310.00 w/c   0 c ; \
ELECT                                                           
.( Flex, and LT-flex are loaded ) \                             
\ Non insulated throat   Insulated costs more                   
\ Straight  See also 90 type but not usualy ok to use.          


\ L-B   Aluminum          C 050-001  AR-9, BR-16    10-06-07 AL
Vocabulary L-B         L-B Definitions
: 1/2        418.00 w/c  50 c ; \ 3.53 June 07                  
: Ent-1/2    418.00 w/c  50 c ; \                               
: 3/4        491.00 w/c  60 c ; \ June 07                       
: Ent-3/4      4.88 w/e  60 c ; \
: 1-in         7.05 w/e  75 c ; \
: 1-1/4       12.05 w/e 110 c ; \ March 2014
: 1-1/2       12.72 w/e 125 c ; \                               
: 2-in        21.33 w/e 165 c ; \                               
: 2-1/2       45.01 w/e 250 c ; \
: 3-in        57.79 w/e 325 c ; \                               
: 3-1/2       93.96 w/e 375 c ; \
: 4-in       153.00 w/e 450 c ; \
Elect                                                           
                                                                


\ RT-BOX                  C 050-037a AR-10          10-08-07 AL
Vocabulary RT-Box        RT-BOX definitions    \                
: 1-hub      885.00 w/c  40 c ; \ Jyne 07 Romex in the back
: 2-hub      366.25 w/c  60 c ; \ 50-37
: 3-hub      337.00 w/c  80 c ; \ 366.25 or 3.18 June 07
: 4-Hub      455.00 w/c 100 c ; \ Hi?
: 2x4        3-hub  ;                                           
: 5-Hub      601.00 w/c 100 c ; \ 561.60
: 5-hub-side 601.00 w/c 100 c ; \   ?
: 4x4       1000.00 w/c 100 c ; \ 844.40 pre Oct 07
: 6-Hub      900.22 w/c 100 c ; \ 050-040
: 7-Hub      925.22 w/c 100 c ; \ 050-040
: Round      553.00 w/c  60 c ; \ 3.99 Oct 07
: Extention  666.66 w/c  20 c ; \
: Cast-cover 400.00 w/c  20 c ; \ 625-009
Elect   : BOX-RT    rt-box ;                                    


\  Obsolete               C 050-037b AR-10          89-04-30 AEC
Vocabulary RT-OCT                                               
           RT-OCT definitions    \ Sold Keep Have               
: 5-Hub      465.00 w/c  80 c ; \ Not in            5    3    1
: Plate      400.00 w/c  20 c ; \ 625-009           4    4    6
\ BL         ?00.00 w/c   8 c ; \ 625-009           4    4    6 
Elect                                                           
                                                                

\ HANGER                    060-000  XX-0           03-31-90 AEC
Vocabulary Hanger                         \ Temp Sold Keep Have 
Hanger Definitions               \     Cart SKU# Sold Min# Have 
: 1/2           .00 w/c   7 c ; \
: 3/4           .00 w/c   7 c ; \
: 1-in          .00 w/c   7 c ; \
: 1-1/4        3.00 w/c   7 c ; \
: 1-1/2        0.00 w/c  16 c ; \
\ 2-in                          \                               
: 3-in       150.00 w/c  10 c ; \ all guess
Elect                                                           
                                                                
\ What kind of hanger?                                          
                                                                

\ STRUT Super               070-100? BH-6           89-01-14 AL
Vocabulary Strut                          \ Temp Sold Keep Have 
Strut Definitions               \                               
: 1-in       175.00 w/c   7 c ; \                   3    2    3
: 1-5/8      220.00 w/c   7 c ; \                        2    5
: Joiner       3.00 w/c   7 c ; \ Guess
: Ninety      60.30 w/c   7 c ; \ Guess
: Cut          0.00 w/c  16 c ; \
: Spring-Nut  85.00 w/c   2 c ; \ Jan 95
\ Trapeze  ( 48"x48" )           \ 60 c ; \                     
\ Strong-back                    \                              
Elect                                                           


\ STRUT-CLAMP               070-200? BH-3           89-05-06 AL
Vocabulary Strut-Clamp          \         \ Temp Sold Keep Have 
                         STRUT-CLAMP Definitions                
: 1/2         45.80 w/c   25 m ; \                      10      
: 3/4         60.00 w/c   25 m ; \                       7      
: 1-in       120.00 w/c   25 m ; \                       5
: 1-1/4      150.00 w/c    3 c ; \    11766         3    6    6
: 1-1/2      180.00 w/c    3 c ; \                       3
: 2-in       350.00 w/c    3 c ; \                       2
Elect   .( strut-clamp loaded too )

\ THHN ---------W-I-R-E-- B 100-001a AW3 BW3        11-19-10
Vocabulary THHN  ( Wire fill table two screens down )
             ( NPS ) THHN Definitions
: #14        140.00 w/m   5 m ; \
: #12        190.00 w/m   6 m ; \
( Solid above Stranded below )  \
: #10        280.00 w/m   8 m ; \                     30A 1/2
: #8         360.00 w/m  10 m ; \                     50A 1/2
: #6         530.00 w/m  12 m ; \                     65A 3/4
: #4        1019.80 w/m  14 m ; \            85A\100A   1-in  March 2014
: #3        1140.00 w/m  16 m ; \ These prices are ok, maybe a bit high.
: #2        1470.00 w/m  18 m ; \ 1233.00   115A\125A   1-1/4 Average April 2020
: #1        1940.00 w/m  20 m ; \ 1300.00   130A\150A   1-1/4
: 1/0     ( 150 Amps ) 1282.89 w/m 22 m ; \ 150A\175A   1-1/4
: 2/0     ( 175 Amps ) 2760.00 w/m 24 m ; \ 175A\200A   1-1/2
: 3/0     ( 200 Amps ) 3480.16 w/m 26 m ; \ 200A\225A   1-1/2
\ Old prices below . . .
: 4/0MCM  ( 230 Amps ) 2238.82 w/m 29 m ; \ 230A\250A   2-in
: 250MCM  ( 255 Amps ) 2656.62 w/m 32 m ; \ 255A\300A   2-in
: 300MCM  ( 285 Amps ) 3122.44 w/m 35 m ; \ Not listed  2-in
: 350MCM  ( 310 Amps ) 3445.04 w/m 38 m ; \ 310A\350A   2-1/2
: 400MCM  ( 335 Amps ) 4359.85 w/m 41 m ; \ 335A\400A   2-1/2
: 500MCM  ( 380 Amps ) 4000.00 w/m 44 m ; \ 380A        3-in
: 500MCM  ( 380 Amps ) 4765.79 w/m 44 m ; \ 380A        3-in
: 600MCM  ( 420 Amps ) 5989.50 w/m 48 m ; \ 420A        3-in was 7288.32
: 750MCM  ( 460 Amps ) 8950.21 w/m 54 m ; \ 460A    

\ 1-in and up, #4 and up needs a bushing
ELECT  : copper thhn ;  ( LSI gives a 52 % time discount.)


\ OLD PRICES pre November 11, 2010
\ THHN ---------W-I-R-E-- B 100-001a AW3 BW3        04-25-09
\ Vocabulary THHN  ( Wire fill table two screens down )
\            ( NPS ) THHN Definitions
\ #14         80.00 w/m   5 m ; \  0.0758 4-25-09
\ #12        110.00 w/m   6 m ; \  126.56 was here Aug 08
\ Solid above Stranded below )  \
\ #10        190.00 w/m   8 m ; \  137.655  5-1-09     30A 1/2
\ #8         320.00 w/m  10 m ; \  540.00              50A 1/2
\ #6         530.00 w/m  12 m ; \  730.00              65A 3/4
\ #4         800.20 w/m  14 m ; \  469.20 3/9/09 85A\100A 1-in
\ #3 is not made )  \ STALE PRICES  STALE PRICES
\ #2        1270.00 w/m  18 m ; \ 1200.65     115A\125A 1-1/4
\ #1        1650.00 w/m  20 m ; \ 1300.00     130A\150A
\ 1/0     ( 150 Amps ) 1282.89 w/m 22 m ; \ 150A\175A   1-1/4
\ 2/0     ( 175 Amps ) 2600.00 w/m 24 m ; \ 175A\200A   1-1/2  Oct 2010
\ #2/0    ( 175 Amps ) 1469.41 w/m 24 m ; \ 175A\200A   1-1/2  Oct 2010
\ 3/0     ( 200 Amps ) 2096.16 w/m 26 m ; \ 200A\225A   1-1/2
\ 4/0     ( 230 Amps ) 2238.82 w/m 29 m ; \ 230A\250A   2-in
\ 250mcm  ( 255 Amps ) 2656.62 w/m 32 m ; \ 255A\300A   2-in
\ 300mcm  ( 285 Amps ) 3122.44 w/m 35 m ; \ Not listed  2-in
\ 350mcm  ( 310 Amps ) 3445.04 w/m 38 m ; \ 310A\350A   2-1/2
\ 400mcm  ( 335 Amps ) 4359.85 w/m 41 m ; \ 335A\400A   2-1/2
\ 500xxx  ( 380 Amps ) 4000.00 w/m 44 m ; \ 380A        3-in
\ 500mcm  ( 380 Amps ) 4765.79 w/m 44 m ; \ 380A        3-in
\ 600mcm  ( 420 Amps ) 7288.32 w/m 48 m ; \ 420A        3-in
\ 750mcm  ( 460 Amps ) 8950.21 w/m 54 m ; \ 460A
\ 1-in and up #4 and up needs a bushing
\ ELECT  : copper thhn ;  ( LSI gives a 52 % time discount.)


\ FILL-TABLE              B 100-007  AW-3           07-12-07 AL
\ #     1/2   3/4   1-IN  1-1/4  1-1/2   2-IN  2-1/2  3-IN  3-1/
\ 14    13    24    39    69     94      154 |
\ 12    10    18    29    51     70      114 |                  
\ 10     6    11    18    32     44       73 |                  
\ 8      3     5     9    16     22       36 | 2/0 8            
\ 6      1     4     6    11     15       26 | 3/0 7            
\ 4      1     2     7     7      9       16 | 4/0 6   9        
\ 3      1     1     3     6      8       13 | 250 4   7        
\ 2      1     1     3     5      7       11 | 300 4   6     8  
\ 1                  1     3      5        8 | 350 3   5     7  
\ 1/0                1     3      4        7 | 400 3   5     6  
\ 2/0                1     2      3        6 | 500 2   4     5  
\ 3/0                      1      3        5 | 600 1   3     4  
\ 4/0                                      4 | 700 1   3     4  
\ 250MCM                                   3 | 750 1   2     3  




\ Romex  ( Check costs  ) B 102-101  AC-5           05-20-09
Vocabulary Rx                                                   
Rx definitions                  \  Bad & old on 8-17-08 5x up!  
: 14/2       190.14 w/m  21 m ; \ 122.80 ok  30.69 Roll Jan 09  
: 12/2       280.00 w/m  25 m ; \ 181.00 Ok  45.25 Roll Jan 09 64.04 June 18  
: 14/3       300.90 w/m  28 m ; \  77.90 Bad                    
\ 14/4        xx.00 w/m  32 m ; \  88.08 Bad                    
: 12/3       480.64 w/m  32 m ; \ 113.64 Bad                    
\ 12/4       615.00 w/m  34 m ; \ 145.55 Bad  615 interp        
: 10/3       750.00 w/m  45 m ; \ 166.42 Bad                    
: Blue        26.00 w/c  11 c ; \  26.00 Bad
: Medium      23.50 w/c  12 c ; \  23.50 Bad?
: Large       49.00 w/c  13 c ; \ 3/4 3202
: Nail-plate  10.00 w/c  02 c ; \ 9-93
\ Box-brace   35.99 w/c  12 c ; \ S.City #5                     
: F-strap     21.55 w/c  08 c ; Elect    : Romex  Rx ;


\ ROMEX-parts             B 102-121  AC-5           88-10-02 0.0
  Romex definitions                       \ Used Sold Keep Have 
: 8/3      1303.35 w/m  65 m ; \                                
: 6/3      1806.40 w/m  75 m ; \                                
: 4/3      2712.50 w/m  85 m ; \ 3547                           
: 2/3      3969.76 w/m  95 m ; \ 3546 .                         
: Pro-large  12.00 w/c  02 c ; \
\ Gr-clip     8.33 c  6-6-92                                    
Elect                                                           
\  For bond bars see Ground                                     
                                                                

\ 2S-CON                    104-226  AC-5           88-10-02 AEC
Vocabulary 2S-Con      2S-CON Definitions \ Used Sold Keep Have 
: 1/2         22.35  w/c   11 c ; \                29   20   59
: 3/8         19.00  w/c   11 c ; \                          68
: 3/4         60.95  w/c   12 c ; \ 47              3    4   27
: 1-in        99.50  w/c   14 c ; \                 1    4    7
: 1-1/4      157.50  w/c   16 c ; \                      2    2
: 1-1/2      244.95  w/c   18 c ; \                 1    2    2
: 2-in       312.15  w/c   20 c ; \                      1    1
Elect                                                           
: RX-CON  2s-con ;                                              
\ 2-screw service entrance connectors - Non Watertight          
                                                                

\ MC    ( Drilled wood )  C 106-301  AC-3           07-07-08 AL
Vocabulary MC                                                   
 ( Send rings )           MC  definitions \ Temp Sold Keep Have 
: 14/2       412.30 w/m  21 m ; \  250.00           was 430     
: 12/2       420.00 w/m  25 m ; \  418.00 276 7-7-08 0.25 Feb 99
: 14/3       690.00 w/m  28 m ; \  415.00 Guess      was 600    
: 12/3       770.00 w/m  32 m ; \  766.00 May 96 B&K was 520    
: 12/4      1090.00 w/m  35 m ; \  600.00 NPS        was 600
: 10/3      1430.00 w/m  35 m ; \  627.00 Use core clad         
: 8/3       2850.00 w/m  60 m ; \ 1600.00                       
: 6/3       3960.00 w/m  70 m ; \ 2800.00                       
: Staple       5.95 w/c  00 m ; \ 1-1/8                         
: Whip       230.00 w/c  27 c ;                                 
Elect  : M-C  mc ;  .( Do not fish MC )  \ 69 load              
                                                                

\ MC    ( Metal studs )   C 106-302  AC-x           07-12-07 AL
       \  ^^^^^^^^^^^                                           
Vocabulary MC-studs     MC-studs definitions                    
: 14/2       428.00 w/m  18 m ; \                               
: 12/2       502.00 w/m  20 m ; \ From John      jfeld          
: 14/3       598.00 w/m  20 m ; \                               
: 12/3       500.00 w/m  25 m ; \                               
: 12/4       599.99 w/m  30 m ; \
\ 10/3                   00                                     
: #8  ( arm) 430.00 w/m  00 m ; \
: #6  ( Arm) 640.00 w/m  00 m ; \
\ 8/3               w/m  00 m ; \                               
\ 6/3               w/m  00 m ; \                               
\ 4/3               w/m  00 m ; \                               
: Whip       230.00 w/c  27 c ;                                 
Elect  : M-C  mc ;  .( Do not fish MC )                         


\ MC-CON                  C 106-301  AC-3           01-31-92 AEC
Vocabulary MC-Con                         \ Used Sold Keep Have 
MC-Con Definitions              \      Pack SKU# Sold Min# Have 
: 1/2         54.00 w/c   8 c ; \ 2xRX=Fitz        39   21   19 
: Speed       50.00 w/c   5 c ; \ was 80 cents                  
Elect       ( 22.85      22 )                                   


\ SC   Signa Clad         B 106-400  AC-8           06-06-04 AL
Vocabulary SC             SC Definitions  \ Used Sold Keep Have 
\ See also screen 82 (New work)                                 
: 14/2       431.97 w/m  60 m ; \      OLD PRICES               
: 12/2       513.13 w/m  60 m ; \                               
\             Skip three lines  \                               
: 14/3       535.06 w/m  65 m ; \                               
: 12/3       494.90 w/m  70 m ; \                               
: 10/3      1164.23 w/m  80 m ; \                               
: SC-CON       2.70 w/m  40 e ; \                               
\ rt-sc-con                                                     
Elect                                                           
\   I am using the labor units for mineral insulated cable      
\ it looks like about the same stiffness of installation.       
\ THIS IS NOT USED VERY MUCH. I SKIPPED.                        
                                                                

\ SJ-CORD                AB 110-501  AC-7 MES       07-12-07 AL
Vocabulary SJ-Cord                        \ Used Sold Keep Have 
                   SJ-CORD Definitions                          
: 16/3       270.00 w/m  10 m ; \ 110-502               10      
: 14/3       360.00 w/m  11 m ; \                       10      
: 12/3       490.00 w/m  13 m ; \ 110-502               10      
: 12/4       610.00 w/m  15 m ; \                       10      
: 10/3      1000.00 w/m  16 m ; \  ,                            
: 10/4      1200.00 w/m  17 m ; \ Guess mtl                     
: Molded     250.00 w/c  10 c ; \                        5
: ZIP         20.75 w/c   1 c ; \                       50
Elect  : CORD-SJ  sj-cord ; \                                   
\  Zip is the same as Rip                                       
\  My study shows times on page AC-7, are way too               
\  high compaired to Romex but require no holes!                


\ STRAIN-RELIEF             110-510  LL-0           88-10-02 AEC
Vocabulary Strain-Relief                  \ Used Sold Keep Have 
STRAIN-RELIEF Definitions                                       
: Connector   3.00 w/e   10 c ; \                               
: Loop      699.00 w/c   25 c ; \                        2
: 1/2      2600.00 w/c   25 c ; \ MES                    1
: 3/4      2560.00 w/c   25 c ; \                        1
: 1-in     3470.00 w/c   30 c ; \
: 1-1/4    9510.00 w/c   35 c ; \ Times?
Elect                                                           
\ Carefull  There is a delux version at MES                     
\ that is 22.67 each!                                           


\ NUT Wirenut             A 116-801a JP-1           08-06-00 AL
Vocabulary Nut           NUT definitions  \ Used Sold Keep Have
: Tiney        3.00 w/c   1 c ; \ 116-801           3   25   72
: Yellow       4.31 w/c   4 c ; \ 116-801        1785  500 1979
: Red          5.68 w/c   6 c ; \ 116-801        1270  500 1810
: Tan          7.40 w/c   6 c ; \ 7.3217  Aug 00 Twisters
: Grey        11.78 w/c   8 c ; \ 116-801           8   20   67
: Big-Blue    22.90 w/c   4 c ; \ 116-801          28   10   17
: Crimp        7.00 w/c   4 c ; \
Elect 
: W-N  nut ;  \ JP 
Elect
\ Times doubled on Jan 1988 with device times,                  
\ cut as we do the tales at roughin                             
\ I compared times for lugs and Circuit                         
\ breakers in NECA labor units.                                 
\ This is realistic as a wire nut may                           
\ involve forming and striping several wires in an outlet.      


\ KOUPLE-TAP  CK PRICES     116-806  LL-0           09-29-08 AL
Vocabulary Kouple-tap
Kouple-Tap Definitions
: 2/0-2/0    14.84 w/e 16 c ; \
: 3/0-12     23.00 w/e 16 c ; \ Up on 9-15-04                   
: 4/0-6      27.00 w/e 16 c ; \ 200A 26.50
: 4/0-1/0    12.96 w/e 16 c ; \ 12.96 Aug 00 was 9.41
: 350-10     20.93 w/e 16 c ; \
: 350-2/0    28.13 w/e 16 c ; \
: 350-4/0    35.99 w/e 16 c ; \
: 500-4    2713.54 w/c 18 c ; \ 400A
: 150A 3/0-12 ;
: 125A 3/0-12 ;    \ PRICES WENT UP
: 100A 3/0-12 ;
Elect                                                           


\ Surge                                             05-13-09
Vocabulary Surge                                                
                         Surge Definitions \                    
: 7.5Amp     129.00 w/c   35 c ; \                              
: 15Amp      159.00 w/c   40 c ; \                              
: 20Amp      199.00 w/c   50 c ; \                              
\ W-House    499.00 w/c  100 c ; \ guesses                      
Elect                                                           
\                                                               
\ http://www.zerosurge.com/residential.html                     


\ LUG                     X 116-808  AW-7  BP-23    05-01-09
Vocabulary Lug           LUG Definitions  \ Used Sold Keep Have 
\ #8  XX       0.00 w/c  8 c ; \ 29  To low                     
\ #6          33.33 w/c  8 c ; \ 29  too low                    
\ #4          35.00 w/c  9 c ; \ 30  To low                     
: #2-14       91.00 w/c 11 c ; \ 0.9108 May 09
: 1/0-14     157.00 w/c 11 c ; \ 1.5787 May 09
: 2/0         79.00 w/c 11 c ; \ To low
\ 250MCM  XX   0.00 w/c 11 c ; \                                
ELECT                                                           
\                                                               
\ I can't figure out why the times are so high on these items   
\ which are from the NECA Labor Manual..                        
\ We look to good working in a 12 meter service on Guerrero.    
\ I have cut them back to 25% of book  ( Job pre set up )       
\ See also wire NUT and LUG times.                              


\ DOUBLE-LUG              X 116-808  AW-7  BP-23    88-10-02 AEC
Vocabulary Double-lug    DOUBLE-LUG Definitions  \    Keep Have 
: #4         104.00 w/c  9 c ; \ 30                      -
\ #2           0.0  w/c 11 c ; \                         -      
\ 1/0          0.0  w/c 11 c ; \                         1    1 
\ 2/0          0.0  w/c 22 c ; \                         1    3 
: 250MCM     390.00 w/c 11 c ; \                    1    1    1
ELECT                                                           
                                                                

\ N&T                    BC 116-835             r/t 89-04-30 AEC
Vocabulary N&T           N&T Definitions  \ Used Sold Keep Have 
: Loom        32.00 w/c   2 c ; \ 7/32            239  250  361
: Nob         60.00 w/c   6 c ; \ Solid typ        39   10   10
: Tube        97.00 w/c   3 c ; \ 3-in             40   10   10
: Loom-short  20.60 w/c  20 c ; \ 030-001
: Loom-long   20.60 w/c   5 c ; \ 030-001
: Solder     100.00 w/c  16 c ; \                  38         0
\ Canope                                                        
Elect                                                           
: Nob&Tube   N&T ;                                              
                                                                
\ See Flex for loom


\ W-H                    BC 125-002  AR-12          06-04-05 AL
Vocabulary W-H
                         W-H Definitions                        
\ "WH"  ." Weather Head" ; \ Bridgport                          
: 1/2        333.40 w/c   50 c ; \ 89
: 3/4        425.05 w/c   55 c ; \ 12-93
: 1-in       478.30 w/c   60 c ; \ 89
: 1-1/4      562.85 w/c   80 c ; \ 463  March 2014
: 1-1/2     1006.00 w/c  100 c ; \ 89
: 2-in      1876.00 w/c  140 c ; \ 89
: 2-1/2     4971.25 w/c  160 c ; \ Guess
: 3-in      6662.40 w/c  180 c ; \ here
: 3-1/2     7261.50 w/c  200 c ; \ down.
: 4-in      9802.15 w/c  220 c ; \
ELECT                                                           
: Weatherhead  W-H ;                                            


\ GROUND ---G-R-O-U-N-D-- C 150-000                 04-22-09    
Vocabulary Ground
GROUND Definitions
: Bond          7.03 w/e  50 c ; \ Time cut in half then boosted
: Gas          26.03 w/e  55 c ;     
: GS            5.55 w/c   4 c ; \ 9-93 less
: Rod-shale  5190.00 w/c 200 c ; \ 9-93 inc rental
: Rod        1376.00 w/c 150 c ; \ June 2007 for 10-ft
: Clamp       331.00 w/c  20 c ; \ Oct 07
: Clamp-brass 239.00 w/c  20 c ; \ June 07
: Clamp_1-1/4 346.00 w/c  20 c ; \
: Hub         287.00 w/c  12 c ; \  Acorn is 2.50 ea
: Tail         32.65 w/c   2 c ;  : Clip  13.95 w/c 1 c ;
: Bar         640.00 w/c  30 c ; \ 425-068
: Lug            .55 w/e  30 c ;
Elect   \ See AMPIER.CR scr 3  or type "ground vv box"          


\ GROUND-BUSHing          B 150-003  AR-5           89-05-12 AEC
Vocabulary GROUND-BUSH   GROUND-BUSH definitions  \ Used Sold Ke
: 1/2        135.40 w/c   40 c ; \                       1    2
: 3/4        161.20 w/c   45 c ; \                  1    2    2
: 1-in       230.00 w/c   50 c ; \ 9-93 was low          2   10
: 1-1/4      218.10 w/c   60 c ; \                 19    6    7
: 1-1/2      228.90 w/c   70 c ; \                  3    4    1
: 1-1/2x     228.90 w/c   15 c ; \ Time from ELECTRIC ESTIMATE
: 2-in       381.40 w/c   80 c ; \ 13.44 5-10-05    2    3    2
: 2-1/2      536.00 w/c   75 c ; \                       1    1
: 3-in       675.00 w/c   90 c ; \
: 3-1/2      742.50 w/c  110 c ; \
: 4-in       840.50 w/c  125 c ; \
Elect
: G-B  Ground-bush ;
: Bond-Bushing           G-B ;
: GR-Bush     ( in use ) G-B ;
: Ground-Bushing         G-B ;
: Bond-bush   ( in use ) G-B ;                                  


\ PVC-BOX Rx------B-O-X-- B 200-022  AR-3           09-05-93 AEC
Vocabulary PVC-box ( Blue )                                     
                         PVC-box Definitions                    
: 1G         29.00 w/c  30 c ; \ 9-93 was high    25   18   18
: 2G         88.88 w/c  40 c ; \                        3    3
: 3G        190.00 w/c  30 c ; \ 9-93 was low      3   No    1
: 4G        166.66 w/c  40 c ; \                       No    1
: LT         77.77 w/c  10 c ; \ Need cost         4    7    7
: Cut-in    200.00 w/c  42 c ; \ Guesses
Elect                                                           
\ PVC-Box   pvc ;  \                                            
\ Boxes should include time equal to a romex connector or       
\   maybe 2 connectors.                                         
\ NOTE  Only the BLUE type are accepticable by Aries.           
\      Larger than 2 gang are too flexable and whimpy.          
                                                                


\ PVC-Adjustable -B-O-X-- B 200-023  AR-3           03-01-97 AEC
Vocabulary PVC-Adjustable                                       
                         PVC-Adjustable Definitions             
: 1G           2.00 w/e  30 c ; \ Feb 96                        
: 2G           3.00 w/e  40 c ; \ Guess                         
: 3G         190.00 w/c  30 c ; \
: 4G         166.66 w/c  40 c ; \
: LT          77.77 w/c  10 c ; \
: Cut-in     200.00 w/c  42 c ; \
Elect                                                           


\ SW-BOX                  B 200-024  AR-3           03-09-09
Vocabulary SW-Box        SW-BOX Definitions
: Cut-in     200.00 w/c  42 c ; \ Thepitt
: Goof-ring  100.00 w/c  10 c ; \ All guessed except 2-3/4
: VB         250.00 w/c  30 c ; \
: 1-in       300.00 w/c  40 c ; \
: 2-in        89.00 w/c  30 c ; \ 2.50 Mar 09
: 2-1/2      300.00 w/c  35 c ; \
: 2-3/4      477.00 w/c  35 c ; \ 3.00 Old Pre Mar 09
: 3-1/2      304.00 w/c  40 c ; \
: Ext        100.00 w/c  20 c ; \ GUESS!
: Door-SW    780.00 w/c  70 c ; \ Says Brad
: VBC        173.20 w/c  45 c ; \ 200-21                         
Elect : S-B   sw-box ;  \ Slashed most of them as out of date   


\ 4S Four Square BOX      B 205-225  AR-3           04-25-09
Vocabulary 4S
4S definitions                  \
: BOX         68.04 w/c  30 c ; \ .79 2-26 on line 62.00 Mar 09
: Deep       257.00 w/c  30 c ; \ 2.5643 4-25-09
: VB          80.00 w/c  30 c ; \ 4SVB-1/2
: Spl        175.00 w/c  30 c ; \ 4S-SPL
: BL          67.00 w/c  16 c ; \ 0.35 Aug 08
: EXT        240.00 w/c  20 c ; \ 2.39 Aug 08
: 2x4-Ext    250.00 w/c  30 c ; \ Not in cat
: 1-in       280.00 w/c  30 c ; \ 1.76 B&K Jan 95
: FB         252.00 w/c  30 c ; \ Raco 193 Feb 95
\ Deep-VB    280.00             \ 1.99 Jun 96  Universal        
\ Shallow    176.00  1-in deep not 1-1/2                        
Elect                                                           
\ Verticle bracket                                              


\ 4S-1G  1-gang ring      B 205-226a AR-3           03-09-09
Vocabulary 4S-1G                                                
4S-1G definitions               \           Temp Sold Keep Have 
: Flat        91.40 w/c  15 c ; \                        2    3
: 1/4         78.40 w/c  15 c ; \                        1    1
: 1/2         77.25 w/c   5 c ; \ 61.50 3-09       68   15   43
: 5/8         88.20 w/c  15 c ; \ 9-93 58.00       68   15   34
: 3/4         99.60 w/c  15 c ; \  most             4   14   14
: 1-in       122.15 w/c  15 c ; \   are            13   10   13
: 1-1/4      159.10 w/c  15 c ; \    less           8    4    8
: 1-1/2      215.90 w/c  15 c ; \ Tile             11    4    7
: 2-in       251.00 w/c  15 c ; \ Tile                   1    1
Elect                                                           
\ Four square one gang mud rings.                               


\ 4S-2G  2-gang ring      B 205-226b AR-       LOW  89-05-03 AEC
Vocabulary 4S-2G                ( Out of date, lower? )         
4S-2G definitions \ Used Sold Keep Have                         
: Flat       120.25 w/c  15 c ; \                        2    5
: 1/4        124.45 w/c  15 c ; \                        2    4
: 1/2        151.00 w/c   5 c ; \ 32.00             7   21   43
: 5/8        116.15 w/c  15 c ; \ 38.00        5    9   10   13
: 3/4        126.85 w/c  15 c ; \                        9    9
: 1-in       177.35 w/c  15 c ; \                   3    4    4
: 1-1/4      276.15 w/c  15 c ; \ Tile              1    2    5
: 1-1/2      300.00 w/c  15 c ; \ Tile              1    2    3
Elect                                                           


\ 4S-LT  Light ring       B 205-226c AR-3           88-09-11 AEC
Vocabulary 4S-LT                                                
4S-LT definitions \ Used Sold Keep Have                         
\ Flat                          \                               
: 1/4         86.15 w/c  15 c ; \ guess this one
: 1/2         86.15 w/c  15 c ; \ 0.51 Feb 99      35   10   14
: 5/8         90.65 w/c  15 c ; \ 88.70 3-09       13    7   17
: 3/4        124.60 w/c  15 c ; \                   9    4   44
: 1-in       333.15 w/c  15 c ; \                   5    2    7
: 1-1/4      333.15 w/c  15 c ; \                   4    1    1
Elect                                                           
 \ They are also called mud rings or plaster rings.             


\ 4O-LT  Light ring       B 205-226c AR-3           88-09-11 AEC
Vocabulary 4O-LT                                                
4O-LT definitions \ Used Sold Keep Have                         
\ Flat                          \                             1 
\ 1/4                           \                        1    1 
: 1/2         86.15 w/c  15 c ; \                  35    7    9
: 5/8         90.65 w/c  15 c ; \                  11    3    4
: 3/4        124.60 w/c  15 c ; \                   9    3    4
: 1-in       333.15 w/c  15 c ; \                   5    1    4
: 1-1/4      333.15 w/c  15 c ; \                   2    1    1
Elect                                                           


\ 4S-IND                    205-227  E-8            10-06-07 AL
Vocabulary 4S-Ind
4S-IND Definitions                        \ Used Sold Keep Have 
: GFI        222.22 w/c  20 c ; \ 222.22 Previously
: SW         100.00 w/c  20 c ; \  .75
: PR         179.00 w/c  20 c ; \ Was 1.00 pre 3-26-11
: SW-SW      101.75 w/c  20 c ; \
: PR-PR      146.80 w/c  20 c ; : SW-PR  PR-PR ; \       6   16
: D&D        179.50 w/c  20 c ; \ 1.4                    5    4
: Deco-Deco  215.00 w/c  30 c ; \ 1.50
: GFI-SW     150.00 w/c  20 c ; \ Time decreased Aug 00
: GFI-PR     GFI-SW  ;          \                               
: 1-3/8      183.15 w/c  20 c ; \ 1.4  D&D?
: 1-9/16     183.15 w/c  20 c ; \ 1.6
: 1-3/4      183.15 w/c  20 c ; \
: 2-1/8      183.15 w/c  20 c ; Elect \ 2.1  Dryer?


\ GANG-BOX                B 200-075                 08-05-08 AL
Vocabulary GANG-BOX                                             
GANG-BOX Definitions                                            
: 2-gang    650.00 w/c  40 c ; \ 4x6
: 3-gang    650.00 w/c  40 c ; \ 4x6
: 4-gang   1226.00 w/c  40 c ; \ 4x10 Jun 96  Univ
: 5-gang   1664.00 w/c  40 c ; \ 4x12
: 6-gang   4188.93 w/c  45 c ; \ 4x14
: 3g-ring   534.01 w/c  20 c ; \
: 4g-ring   998.80 w/c  20 c ; \ 200-75 5.63 Jun 96  Univ
: 5g-ring  1682.55 w/c  20 c ; \  '
: BL        355.00 w/c  10 c ; \ Aug 08 3G  4x8 blank RACO876 ?
: 3-gang-bl 226.00 w/c   8 c ; \ 4x6
: 4-gang-bl 575.00 w/c   8 c ; \ 4x8
Elect                                                           
\ NOTE  need to double check these ....                         


\ 5S-IND                    205-229  E-8            88-11-02 AEC
Vocabulary 5S-Ind                         \ Used Sold Keep Have 
                     5S-IND   Definitions                       
: SW         385.55 w/c  20 c ; \                        4    4
: PR         385.55 w/c  20 c ; \                   6    6    2
: SW-SW      385.55 w/c  20 c ; \                        2    7
: PR-PR      385.55 w/c  20 c ; \                   1    4    6
: SW-PR      385.55 w/c  20 c ; \                        2    2
\ GFI        x 0.00 w/c  20 c ; \                        1    1 
: GFI-GFI    289.67 w/c  20 c ; \ Jun 94  W.G.
: Blank      385.55 w/c  20 c ; \ Raised                10   28
: D&D        385.55 w/c  20 c ; \ 1-9/16            1    2    2
: 1-9/16     385.55 w/c  20 c ; \ Dish                   2    5
: 2-1/8      393.20 w/c  20 c ; \                        1    1
\ PR-1-9/16  444.44 w/c  20 c ; \                        1    1 
Elect                                                           


\ BAR-HANGER                205-231  FF-15          09-26-03 BEC
Vocabulary Bar-hanger                     \ Used Sold Keep Have 
BAR-HANGER definitions  \                                       
: Fan-brace 1500.00 w/c  50 c ; \
: with-box   256.00 w/c  20 c ; \ 9-93                   4
: 18-in      161.40 w/c  20 c ; \ 9-93 less        16    7   15
\ 26-in      173.20 w/c  20 c ; \                        1    1 
Elect                                                           
\                                                               
\ Inch is abreviated as in   see the list of abreviations       
\ Adjustable  with clip                                         


\ 3-OCT       N.P.S.        205-273  AR-3           89-05-03 AEC
Vocabulary 3-Oct                          \ Used Sold Keep Have 
3-OCT definitions                                               
: Tiger      120.00 w/c  51 c ; \                  98   11   12
: Pancake    156.03 w/c  40 c ; \                   9    5    3
: Custom-Pancake    156.03 w/c  50 c ; \                   9
: BL          61.00 w/c  10 c ; \ 4-93 up           5    5   1
: Box        169.08 w/c  40 c ; \                   3    3   12
: LCE        180.00 w/c  40 c ; \                   4    6    5
: Ext        247.04 w/c  20 c ; \                   1    2    2
: FBC        319.44 w/c  40 c ; \                        1    1
\ 4-Hub                           \                             
\ Romex        223.76 w/c  40 c ; \                             
\ LCE (Timecutin)          51 c ; \                             
Elect                                                           


\ 4-OCT                     205-274  AR-3           07-08-07 AL
Vocabulary 4-Oct                          \ Used Sold Keep Have 
4-OCT definitions                                               
: Box        107.51 w/c  40 c ; \ 205-274           2    4   19
: FBC        193.77 w/c  40 c ; \ 205-274           1   No    0
: Ext        191.54 w/c  20 c ; \ 1.36 B&K Mar 95   4    4    4
: Pancake    156.03 w/c  40 c ; \ 205-272                2    8
: LCE        237.66 w/c  51 c ; \ 4074                   2   12
: 1-Hub      396.34 w/c  60 c ; \                   2    4
: 2-Hub      492.59 w/c  80 c ; \                        1    7
: 3-Hub      590.60 w/c 100 c ; \                   2    1    1
: BL          45.86 w/c  10 c ; \                   7    6   22
: Painted-BL 150.00 w/c  10 c ; \
: Cast-cover 400.00 w/c  10 c ; \ 625-009           4    4    6
: PR         156.00 w/c  15 c ; \
: Strong-box  14.00 w/c  40 c ; Elect  \ Jul 07
: Fan-box     20.00 w/c  16 c ; \ 10 minutes for fan support box
                                \ Prerequsite regular LT

\ 5S   (4-11/16) BOX      C 205-279  AR-3           08-17-08 AL
Vocabulary 5S                             \ Used Sold Keep Have 
5S  definitions                                                 
: BOX        292.00 w/c  40 c ; \ 5SDW-1/2  1.92 June 07
: VB         300.00 w/c  40 c ; \ See below
: VB-concent 455.00 w/c  40 c ; \ 9-93
: Ext        408.85 w/c  20 c ; \ 1-1/2 deep
: BL         100.86 w/c  10 c ; \ 0.62 Aug 08
\ GFI-Decora 303.00 w/c                                         
Elect                                                           
                                                                
   \ Note  5SDW-FB-1/2 not made                                 
   \ Use   5SDW-FB-SPL  It is good enough                       


\ 5S-1G                   B 205-280a AR-3           89-05-03 AEC
Vocabulary 5S-1G                          \ Used Sold Keep Have 
5S-1G definitions                                               
\ Flat                          \                        -      
: 1/4        351.41 w/c  15 c ; \                        -
: 1/2        237.50 w/c  15 c ; \                  11    7   19
: 5/8        239.29 w/c  15 c ; \                  13    8    0
: 3/4        237.50 w/c  15 c ; \                        3    4
: 1-in       259.90 w/c  15 c ; \                        2    5
: 1-1/4      725.00 w/c  15 c ; \ 9-93                   6   11
: 1-1/2      300.00 w/c  15 c ; \                   3    3    3
: 2-in       400.00 w/c  15 c ; \ Guess             3    3    3
Elect                                                           


\ 5S-2G                   B 205-280b AR-3           89-05-03 AEC
Vocabulary 5S-2G                          \ Used Sold Keep Have 
5S-2G definitions                                               
: Flat        96.05 w/c  15 c ; \                        1    1
: 1/4        351.41 w/c  15 c ; \ Not made               -
: 1/2        237.50 w/c  15 c ; \                   5    7    8
: 5/8        239.29 w/c  15 c ; \                   8    4   11
: 3/4        237.50 w/c  15 c ; \                        3    3
: 1-in       259.90 w/c  15 c ; \                        3   11
: 1-1/4      283.31 w/c  15 c ; \                        2    4
: 1-1/2      283.31 w/c  15 c ; \                        1    5
: 2-in       283.31 w/c  15 c ; \                        1    5
Elect                                                           


\ 5S-LT                     205-279  AR-3           89-05-03 AEC
Vocabulary 5S-LT                          \ Used Sold Keep Have 
5S-LT definitions                                               
: Flat       257.86 w/c  15 c ; \ Guess                  4    8
: 1/4        257.86 w/c  15 c ; \ Guess                  4    8
: 1/2        257.86 w/c  15 c ; \ Guess                  4    8
: 5/8        265.17 w/c  15 c ; \                        1    5
: 3/4        407.11 w/c  15 c ; \                        1    2
: 1-in       580.13 w/c  15 c ; \                        1    2
: 1-1/4      621.12 w/c  15 c ; \                        1    3
Elect                                                           


\ HANDY                   B 205-371   E-9           06-12-07 AL
Vocabulary Handy \                                              
Handy  definitions                                              
: Box        215.00 w/c  30 c ;  \ June 07
: 3-gang      11.88 w/c  30 c ;  \                              
: 4-gang      14.19 w/c  30 c ;  \
: SW         111.65 w/c   7 c ;  \ E-9
: PR         111.65 w/c   7 c ;  \ E-9
: TL         111.65 w/c   7 c ;  \ E-9
: BL          40.55 w/c   7 c ;  \
: Ext        163.85 w/c  10 c ;  \
Elect                                                           
\  Bowers                                                       
: Handy-Cover   handy ;                                         
                                                                

\ FLOOR-BOX               C 210-291  AR-3           88-09-11 AEC
vocabulary Floor-box                      \ Used Sold Keep Have 
           Floor-box  definitions                               
: Poke-Thru  159.80 w/e   1 e ; \ RC900A  Polk dinning room     
: 4-11/16     20.60 w/e   1 e ; \ Walker 88               -     
: Brass-trim  30.90 w/e   1 e ; \ Walker 89               -     
: #664        28.10 w/e   1 e ; \ Steel Cit      Look           
: #664-trim   46.54 w/e  50 c ; \ Steel Cit               -     
: Round-box   24.00 w/e   1 e ;                                 
: Brass-Unit  27.00 w/e  20 c ; \ Reg box                       
Elect                                                           
\  Install time can vary quite a bit                            
\  New work is quick                                            
\  Old work is slow if concealed  ( Lookout )  1 or 2 hrs       
\  Old work is so so if accessable  ( Matheu's TV )             
\ 30 min inc hole saw 


\ Gutter                  C 215-001  CS-7           08-13-89 AE
Vocabulary JUNCTION-BOX  JUNCTION-BOX Definitions
: 4x4x12       6.50 w/e 175 c ; \                        1    1 
: 4x6x12      12.50 w/e 180 c ; \                        1    1 
: 4x8x12      13.00 w/e 180 c ; \                        1    1 
: 6x6x24      15.50 w/e 175 c ; \                               
: 6x6x36      21.50 w/e 185 c ; \                               
: 6x6x8       14.00 w/e 185 c ; \                               
: 8x8x4       13.80 w/e 170 c ; \                               
: 8x8x24      32.80 w/e 185 c ; \ Fillmore                      
: 10x10x36    53.30 w/e 230 c ; \                               
: 10x10x48    64.76 w/e 275 c ; \                               
: 12x12x6     18.00 w/e 175 c ; \ 215-3                  1    1 
: 18x18x6     36.00 w/e 275 c ; \ Guess time, guess parts       
Elect   : Gutter Junction-Box ; \ Need input as to time.        
\ Note: add for ends and joiners..                              

Vocabulary NEMA-junction NEMA-junction definitions
: 8x8x4      20.59 w/e 170 c ;
Elect


\ W-M 1/3                 C 225-062  AS-3           06-12-07 AL
Vocabulary W-M  ( OUT OF DATE NEED HIGHER     Jul 95 )          
W-M Definitions                           \ Temp Sold Keep Have 
: 500         89.30 w/c   5 c ; \ 85.05 June 07
: 504         11.86 w/c   2 c ; \ 1 or 2 hol 504
: Strap       21.95 w/c   2 c ; \ Hit clip  5703
: Flat-90     74.00 w/c  10 c ; \            511
: Flat-45    228.00 w/c  20 c ; \ Flat 45%   512
: Int-90     183.00 w/c  10 c ; \ Internal   517    June 07
: Ext-90      88.00 w/c  10 c ; \ External   518
: 5781       140.00 w/c  20 c ; \ Female    5781
: Male-Con   143.00 w/c  20 c ; \ Male Con  5782
: Fem-Con    866.00 w/c  20 c ; \ Male 90   5784
: Twisted-90 218.00 w/c  10 c ; \    ed 90  5711
: 4x4        685.00 w/c  40 c ; \ Twisted   5711
Elect


\ W-M-2/3                 C 225-063  AS-3           06-12-07 AL
( PRICES TOO LOW )     W-M    Definitions \                     
: Small-Ext  490.00 w/c  40 c ; \ 4-3/4 EXT       5737          
\ Sml-LT     874.00 w/c  40 c ; \ 4-3/4 Fixt      5738   Nov 05 
: Med-Ext    969.00 w/c  40 c ; \ 5-1/2 EXT       5737A
\ Med-LT     700.00 w/c  40 c ; \ 5-1/2 Fixt      5738A         
: Lg-Ext    1571.00 w/c  40 c ; \ 6-1/4 EXT       5739A
\ Lg-LT      552.00 w/c  40 c ; \ 6-1/4 Fixt      5739          
\ Tangent    544.00 w/c  40 c ; \ Tangent $$      5741          
\ 5745       329.40 w/c  40 c ; \ 1/2 k.o. Box    5745          
\ 5747       267.90 w/c  40 c ; \ Best buy Box    5747          
\ 5747-2     565.71 w/c  40 c ; \ 2 Gang          5747-2        
: 5748       542.00 w/c  40 c ; \ Sw & Plug       5748  June 07 
\ 5748-2     685.00 w/c  40 c ; \ 2 gang deep     5748-2        
\ 5748-3   1,576.92 w/c  40 c ; \ 2 gang deeper   5748-3        
Elect


\ W-M-3/3                 C 225-063  AS-3           06-12-07 AL
( TOO LOW )            W-M    Definitions \                     
: Ext        521.00 w/c  40 c ; \ EXT box 5751      June 07
\ 6700F      780.00 w/c  20 c ; \ 18 in flex                    
\ 700         67.66 w/c   5 c ; \ Raceway  700                  
\ Flat-90     91.50 w/c  10 c ; \ Flat 90  717                  
\ Internal   110.54 w/c  10 c ; \ Internal 717                  
\ External    86.14 w/c  10 c ; \ External 718                  
\ Heat-Con     5.00 w/c  78 c ; \ 5 LF                          
\ Box-only     3.87 w/c  53 c ; \ 5747    5747                  
\ Mouse        5.00 w/c  40 c ; \ total guesses                 
Elect                                                           
: Wiremold  w-m ;
\ Feb 9, 1993 prices from Trade Service Corp at SES             
\ You can use ` instead of :                                    
                                                                

\ PLUG-MOLD               C 225-043  AS-5           08-04-04 AL
Vocabulary PLUG-MOLD                      \ Used Sold Keep Have 
                    PLUG-MOLD Definitions                       
:  6"-OC      83.00 w/c  18 c ; \ per foot?                     
: 12"-OC      62.80 w/c  18 c ; \ 33.21 for 6ft  5.53 per ft    
: 18"-OC      55.35 w/c  18 c ; \                               
: 24"-OC      47.96 w/c  18 c ; \                               
: 36"-OC      46.43 w/c  18 c ; \                               
: Power-feed 703.00 w/c  20 c ; \                               
: Coupling   168.00 w/c  01 c ; \                               
: 90-elbo    398.00 w/c  20 c ; \                               
: Tee       1480.00 w/c  25 c ; \                               
: Junction   168.00 w/c  35 c ; \                               
: Blank-end  136.00 w/c  06 c ; \ can feed                      
Elect                                                           


\ G-4000 Runs             C 225-063  AS-3           08-23-90 AL
Vocabulary G-4000                         \ Used Sold Keep Have 
                       G-4000 Definitions    \ Sold Keep Have   
: Base        222.88 w/c  12 c ; \ G-4000B                      
: Cover        77.70 w/c  01 c ; \ G-4000C                      
: Coupling    219.56 w/c  10 c ; \ G-4001D       ng un painted  
: Divider      36.40 w/c  01 c ; \ G-4000D       r              
: Divider-Clip 42.75 w/c  00 c ; \ G-4001D       r clip plated  
: Wire-clip    96.36 w/c  10 c ; \ G-4000WC      Clip plated    
: Blank-end   280.33 w/c  08 c ; \ G-4010B       p              
: Entrance    889.61 w/c 135 c ; \ G-4010D       ce end fitting 
: Wall-Con   1718.99 w/c  30 c ; \ G-4014A ,
: Panel-Con   900.10 w/c  50 c ; \                              
Elect


\ G-4000-Corners          C 225-063  AS-3           08-23-90 AEC
                       G-4000 Definitions \ Used Sold Keep Have 
: Int-Ell     552.17 w/c  50 c ; \ G-4017TC      nal Corner Coup
: Int-Elbow   700.62 w/c  50 c ; \ G-4017        nal Elbow      
: Int-Ell-Inv 645.71 w/c  50 c ; \ G-4017N       ted Internal El
: Int/Ext   1031.53 w/c  50 c ; \ G-4012TX      45 degree       
: Flat-Elbo 1010.68 w/c  40 c ; \ G-4011        Elbo            
: Flat-T    1883.98 w/c  70 c ; \ G-4015D       ed              
\ Flat-T-Un         w/c  70 c ; \ G-4047   unDivided
: Take-Off  2018.58 w/c  50 c ; \ G-4074 ,       ed             
: Combo-90-T  999.99 w/c  70 c ; \ G-4016D       nation 90-T    
: Plate-1g    250.23 w/c  11 c ; \ G-4007C1      g device plate 
: Plate-2g    288.89 w/c  15 c ; \ G-4007C2      g devide plate 
: Mouse+PR    503.79 w/c  15 c ; \ G-4046T        & Power       
Elect                                                           
                                                                

\ WM-1500                 C 225-063  AS-3           02-10-99 AEC
Vocabulary WM-1500                                              
                      WM-1500 Definitions \ Used Sold Keep Have 
: Plug-box      9.60 w/e  25 c ; \                              
: Phone-box     7.05 w/e  15 c ; \ wire by others               
: Base&Cover    1.10 w/e   5 c ; \ per foot  Feb 99  Time?      
: Int-90        2.75 w/e  50 c ; \                              
: Fitter        3.45 w/e  40 c ; \                              
Elect                                                           
\ Times are a guess and interpolation from EMT and WM, G-4000   


\ TERM-CAN -S-E-R-V-I-C-E-- 300-005 x   CB-5        10-02-07 AL
Vocabulary Term-can
TERM-CAN Definitions \ Used Sold Keep Have
\            Safe!          ( Circle AW )
: 200A        89.00 w/e 125 c ; \ Safeco                 -
: 400A       239.20 w/e 150 c ; \ 239.20 Aug 00 was 190.00
: 200A-Drip  400.00 w/e 125 c ; \ Meyers
: 400A-Drip  750.00 w/e 400 c ; \ 750.00                 -
\ 200A-3P    199.00 w/e 225 c ; \ Safeco                 -
\ 400A-3P    290.00 w/e 350 c ; \ R9000
Elect
: Terminatin-can  Term-can ;                                                                
\ The box price is from Centenial   (aw) R9000B                 
\ The times are guesses                                         
\ The material prices can be double checked                     
                                                                

\ SAFETY-SW               C 300-011  CS-3           05-12-04 AL
\ Panel and CB is cheaper than a switch   \ Used Sold Keep Have 
Vocabulary SAFETY-SW     \ 10,000 AIC                           
                SAFETY-SW \ Definitions  \ Keep Have            
\  60A        50.00 w/e   3 e ; \ 5-12-04 see DISCON.NOD        
: 100A        92.50 w/e   4 c ; \ was 2.50 for 60A       -      
: 200A       188.50 w/e   6 e ; \ 5?  147.06 Walker Mar 02      
: 400A       650.50 w/e   8 e ; \ was 10 till Nov 94     -      
\ 200A-3P    300.50 w/e   7 e ; \                        -      
\ 400A-3P    750.00 w/e   7 e ; \ Murry pg ES5           -      
Elect                                                           
: safety-switch  safety-sw ;                                    
                                                                

\ HEAVY-DUTY-SS           C 300-011a CS-3           10-29-92 JAP
Vocabulary HEAVY-DUTY-SS \ 100,000 AIC                          
: 100A       126.00 w/e   4 e ; \                        -      
: 200A       239.50 w/e   6 e ; \                        -      
: 400A       589.00 w/e  10 e ; \                        -      
: 200A-3P    287.50 w/e   7 e ; \                        -      
Elect                                                           
                                                                

\ Enclosure               C 300-011b CS-3           08-13-89AAEC
Vocabulary Enclosure                      \ Used Sold Keep Have 
                    Enclosure Definitions  \ Keep Have          
: 100A [  31.50 d2/ ] Dliteral w/e   2 e ; \ Times cut 1/2      
: 200A [  84.00 d2/ ] Dliteral w/e   3 e ; \ Feb 95             
: 400A [ 200.00 d2/ ] Dliteral w/e   5 e ; \                    
: 3P-100A 20.00 w/e                  3 e ; \                    
Elect                                      \                    
\                                          \                    
Vocabulary Enclosure-RT                    \                    
                 Enclosure-RT Definitions  \ Keep               
\ 100A [  54.00 d2/ ] Dliteral w/e   4 e ; \                    
: 200A [ 146.00 d2/ ] Dliteral w/e   6 e ; \                    
\ 3P-200A [ 84.00 d2/ ] Dliteral w/e 7 e ; \                    
\ 400A [    .00 d2/ ] Dliteral w/e  10 e ; \                    
  Elect  \ Labor included for line and load wire                


\ 3P-Disconect-4W         C 300-011c CS-3           06-06-04 AL
Vocabulary 3P-Disconect-4W                \ Used Sold Keep Have 
              3P-Disconect-4W Definitions \ Keep                
\ 100A          .50 w/e  10 e ;           \              -      
: 400A       567.50 w/e  10 e ;           \              -      
Elect \
( Labor included for line & load wire )                         


\ C-B 1/3      Low prices C 425-035a CB-5         F 06-12-07 AL
Vocabulary C-B  C-B Definitions  \ Used Sold Keep Have
: 20A          4.58 w/e 20 c  ; \ Lows Apr 2020
: 15A          20A            ; \
: 20-20A       8.31 w/e  30 c ; \  8.31 Aug 00 was 8.10
: 15-15A       20-20A         ;
: 15A-2P       10.00 w/e 30 c ; \  6.00  Jan 97  B&K
: 20A-2P       15A-2P         ; \    88
: 2P-20A       20A-2P         ;
: 30-50-50-30 22.00 w/e  40 c ; \  18.95 June 07
: 20-20-20-20 22.00 w/e  40 c ; \
: 30A         10.78 w/e  30 c ; \ 22.58  Aug 00  10.78 April 2020
: 40A           30A           ; \ 13.55  MES  ??when?           
: 50A           30A           ; \                               
: 60A           30A           ; \                               
: 70A         25.50 w/e  60 c ; \    88                         
: 100A        36.00 w/e  80 c ; \ 30.50 July 08   22K AIC 4     
: 125A        76.50 w/e 100 c ; Elect \  CHECK PRICES!!         
: 20-50-50-20 22.00 w/e  40 c ; \    88
: 20N         17.30 w/e  45 c ; \  Oct 07                       
: 20A-15A      8.10 w/e  30 c ; \  7.55  May 96  Universal      
: 30A-1P       3.25 w/e  22 c ; \                        1    1 
: 90A      ( same as )   100A ; \  CHECK PRICES!!               
: 125A        76.50 w/e 100 c ; \  22K AIC 170.80
: 150A                   125A ; \ Whiteside= 200.00 for [D] !   
: 200A                   125A ; \                               
: 225A       100.00 w/e 110 c ; \ 400A  Not made, use fuses.    
: Filler        .45 w/e  10 c ; \ [D] price                     
: GFI-CB      55.00 w/e  40 c ; \ [D] price guess               
: GFI-CB-20A 112.00 w/e  40 c ; \ 3-3-06                        
: GFI-CB-40A 112.00 w/e  60 c ; \ 3-3-06                        
: GFI-CB-50A 112.00 w/e  60 c ; Elect \ 3-3-06                  
: 15-15        8.00 w/e  40 c ; \
: 20-20        8.00 w/e  40 c ; \ 7.53 Feb 99                   
: 15-20        8.00 w/e  40 c ; \                               
\ 30-30                                                         
: 20-30-30-20 22.00 w/e  40 c ; \ Stale below here?             
\ 15-20-20-15                                                   
\ 20-30-30-20                                                   
: 20-40-40-20 25.00 w/e  40 c ; \  18.50 B&K Sep 97             
: 100A-22K    45.00 w/e  80 c ; \ 12-20-05                      
: 125A-22K   170.00 w/e 100 c ; \ Bertagnolli                   
Elect                                                           
\ Cuttler Hammer bought Bryand who bought Westinghouse          
\ Bryant is phaysed out  use Westinghouse or Cuttler Hammer

\ Square-D                  425-035b CB-5           06-01-09
Vocabulary Square-D  Square-d Definitions                       
: Panel       275.00 w/e 340 c ; \                              
: AFCI         42.00 w/e  25 c ;   : Handle-tye .90 w/e  01 c ; 
: 20-30-30-20A 42.50 w/e  45 c ; \                              
: 20-20A       22.00 w/e  30 c ; \                              
: 15-15A       20-20A ;                                         
: 15A           9.00 w/e  30 c ; \ 7.75 SES 93   20 pre Harme   
: 20A           15A ;            \                              
: 20A-2p       18.00 w/e  30 c ; \                              
: 30A          18.00 w/e  30 c ; \                              
: 40A           30A ;   \ guess  \ 14.50 SES                    
: 50A          25.00 w/e  30 c ; \                              
: 90A          92.66 w/e  90 c ; \                              
: 100A        142.00 w/e 100 c ; \                              
: 200A        200.00 w/e 100 c ;   Elect  : [D]  Square-d ;     


\ Old-Cuttler-Hammer        425-035c CB-5           06-19-01 AEC
Vocabulary Old-Cuttler-Hammer                                   
Old-Cuttler-Hammer Definitions                                  
\ Filler         .90 w/e 08 c ; \                               
: 15A          42.00 w/e 20 c ; \ Durant Job June 2001          
: 20A          42.00 w/e 20 c ; \                               
\ 20A-2P       xx.00 w/e 30 c ; \                               
\ 30A          xx.00 w/e 30 c ; \                               
\ 40A        30A ;                                              
\ 50A          xx.00 w/e 30 C ; \                               
\ 60A        50A ;                                              
\ 100A        xxx.00 w/e 90 c ; \                               
\ 3P-60A      xxx.00 w/e 90 c ; \                               
\ 15A-2P      20A-2P ;                                          
Elect                                                           


\ FPE                       425-035d CB-5           05-03-08 AL
Vocabulary FPE   ( Easy reset )           \ Used Sold Keep Have 
FPE Definitions                                                 
: Filler         .90 w/e 08 c ; \ Aug 96                        
: 15A          25.00 w/e 20 c ; \ May 2004                      
: 20A          25.00 w/e 20 c ; \ 18.00 B&K Nov 03  3    6   19 
: 20A-2P       41.00 w/e 30 c ; \                   1    1    0 
: 30A          41.00 w/e 30 c ; \                   1    1    0 
: 40A        30A ;         : Filler 2.00 w/e 10 c ;             
: 50A          41.00 w/e 30 C ; \                               
: 60A        50A ;    : 70A  50A ;                              
: 90A         140.00 w/e 90 c ; \  Universal 6-18-01            
: 3P-60A      195.00 w/e 90 c ; \  West Gate                    
: 15A-2P      20A-2P ;  Elect : Old-GE FPE ;                    
Elect  : Zinsco  FPE ; \   GE next screen                       
Elect  : Old-Cuttler-Hammer  42.00 w/e  20 c ; \ Only 40 degree!


\ GE                        425-035e CB-5           03-25-08 AL
Vocabulary GE                             \ Used Sold Keep Have 
GE  Definitions                                                 
\ Filler         .90 w/e 08 c ; \                               
: 15A           6.00 w/e 20 c ; \ Apr 97  Jerome Const.         
: 20A           6.00 w/e 20 c ; \                               
\ 20A-2P         .00 w/e 30 c ; \                               
: 30A          41.00 w/e 30 c ; \                                
\ 40A           30A ;
: 50A          51.00 w/e 40 C ; \ 41.00 30  But hard to find
: 60A           50A ;
\ 100A           .00 w/e 90 c ; \
\ 3P-60A         .00 w/e 90 c ; \
\ 15A-2P        20A-2P ;
: 30A-2P       11.45 w/e 30 c ;
Elect
                                                                

\ ITE                       425-035f CB-5           08-10-89 \pr
Vocabulary ITE                            \ Used Sold Keep Have 
ITE    Definitions                                              
\ Filler         .90 w/e 01 c ; \                               
: 15A           9.00 w/e 20 c ; \
: 20A          16.75 w/e 20 c ; \ 6.00 Ind. Bill Poole Feb 98   
: 20a-2p       18.00 w/e 30 c ; \
: 30a-2p       18.00 w/e 30 c ; \
: 60A          25.00 w/e 30 C ; \
: 90a          92.66 w/e 90 c ; \
\ 50A                                                           
: 3P-60A      165.00 w/e 90 c ; \  West Gate                    
Elect \                                                         


\ BOLT-ON                 C 425-035g CB-5           04-30-08 AL
Vocabulary Bolt-On                        \ Used Sold Keep Have
             Bolt-On    definitions
:  15A        12.00 w/e   20 c ; \ 2007
:  20A        15A              ; \ 11.40 October 2011
:  30A        36.25 w/e   20 c ; \ City for
:  20A-2P     30A              ; \ City for
:  20A-3P     56.25 w/e   40 c ; \ City for
:  30A-3p     20A-3P           ; \
:  40A        20A-3P           ; \ guess
:  30A-2P-u   67.25 w/e   20 c ; \ guess
:  60A        97.25 w/e   20 c ; \ guess  60A 3P 65.00 Aug 08
:  60A-3P    200.00 w/e   60 c ; \ guess for Our Planet Earth
: 200A-3P   1990.25 w/e  200 c ; \ Online guess for the above 
Elect
\ Circuit Breaker, Molded Case, 3 Pole, 200 A, 600VAC/250VDC, Unit Mount, Lug
\ $1,990.25

\ CB-3P                   C 425-035h CB-5           04-03-93 AEC
Vocabulary CB-3P                          \ Used Sold Keep Have 
             CB-3P Definitions                                  
:  15A        44.00 w/e   60 c ; \  ( 43.25 )               4   
:  20A       15A    ;            \                          2   
:  30A       15A    ;            \                          3   
:  40A       15A    ;            \                          1   
:  50A       15A    ;            \ 1 is [D]                 0   
:  60A        43.25 w/e   75 c ; \                          1   
:  70A        55.50 w/e  100 c ; \                          0   
: 100A        64.50 w/e  125 C ; \                          2   
: 125A       223.50 w/e  150 C ; \                          0   
: 150A       223.50 w/e  175 c ; \                          0   
: 175A       223.50 w/e  200 c ; \                          0   
: 200A       223.50 w/e  225 c ; \                          0   
Elect \ want PANEL-3P                                           


\ 3P CB    Frame          C 425-035i CB-5           88-09-01 AEC
               C-B Definitions            \ Used Sold Keep Have 
: 200A-1P-Frame 105.44 w/e  100 c ; \                           
: 100A-3P-Frame 230.50 w/e  125 c ; \         -                 
: 125A-3P-Frame 230.50 w/e  150 c ; \         -                 
: 150A-3P-Frame 230.50 w/e  175 c ; \         -                 
: 175A-3P-Frame 230.50 w/e  200 c ; \         -                 
: 200A-3P-Frame 230.50 w/e  225 c ; \         -                 
Elect                                                           
\ These are 10,000 AIC rating  Page CB 9  Crouse-Hinds

\ PANEL-COPPER Seimens
Vocabulary PANEL-COPPER         Panel-copper definitions \
\  70A-2-4    15.00 w/e 100 c ; \
\ 100A-2-2    21.00 w/e 100 c ; \ 6-94
\ 125A-4-8    22.00 w/e 100 c ; \ LCOO4N Murry 10-9
\ 125A-6-12   27.00 w/e 125 c ; \ 9-93
\ 125A-8-16   86.36 w/e 150 c ; \ 9-93
: 125A-12-24  86.36 w/e 200 c ; \ 8-2020
\ 125A-16-24  90.00 w/e 220 c ; \
: 150A-16-32  90.00 w/e 240 c ; \ August 2020
\ 150A-20-30  79.00 w/e 260 c ; \
\ 200A-20-40 154.25 w/e 340 c ; \ Ok?
\ 200A-24-40 174.25 w/e 340 c ; \ Guess
\ 200A-30-40 194.25 w/e 340 c ; \ Guess
\ 200A-12-24  42.70 w/e 250 c ; \ B&K Apr 96 for Cole Bsmt
\ 200A-20-40 154.25 w/e 340 c ; \ See previous screen
\ 200A-30-40 121.00 w/e 340 c ; \
\ 200A-40-40 150.00 w/e 350 c ; \ 130 SES Jan 95
\ 225A-42-42 201.00 w/e 380 c ; \ 195 SES May 95
\ 400A-30-40 180.00 w/e 520 c ; \
\ Dead-Front   3.00 w/e  50 c ;
Elect

\ PANEL Crouse-Hinds C 425-065a CP-3 Pg. 22    04-29-09
Vocabulary PANEL         Panel definitions \
:  70A-2-4    15.00 w/e 100 c ; \                               
: 100A-2-2    21.00 w/e 100 c ; \ 6-94                          
: 125A-4-8    22.00 w/e 100 c ; \ LCOO4N Murry 10-9             
: 125A-6-12   27.00 w/e 125 c ; \ 9-93                          
: 125A-8-16   34.00 w/e 150 c ; \ 9-93                          
: 125A-12-24  46.00 w/e 200 c ; \ L1212-24C 9-93
: 125A-16-24  60.50 w/e 220 c ; \                               
: 150A-16-32  72.00 w/e 240 c ; \ LC016ES  65.53 12/08          
: 150A-20-30  79.00 w/e 260 c ; \                               
: 200A-20-40 154.25 w/e 340 c ; \ Ok?                           
: 200A-24-40 174.25 w/e 340 c ; \ Guess
: 200A-30-40 194.25 w/e 340 c ; \ Guess
: 200A-12-24  42.70 w/e 250 c ; \ B&K Apr 96 for Cole Bsmt
: 200A-20-40 154.25 w/e 340 c ; \ See previous screen
: 200A-30-40 121.00 w/e 340 c ; \                               
: 200A-40-40 150.00 w/e 350 c ; \ 130 SES Jan 95
: 225A-42-42 201.00 w/e 380 c ; \ 195 SES May 95
: 400A-30-40 180.00 w/e 520 c ; \
: Dead-Front   3.00 w/e  50 c ;
Elect                                                           
\ Add $5.00 R/T for door                                        
\ Watch out for built-in main 125A minimum, and cover hole problem
\ CAUTION - Minimum 150A main breaker if bolt on )



\ PANEL-RT   Crouse-Hinds C 425-065b CP-3 Pg. 22    88-10-02 AEC
Vocabulary Panel-RT      Panel-RT definitions                   
\  60A-2-4
: 100A-2-4    20.80 w/e  100 c ; \ B&K Oct 96
\ 125A-4-8
: 125A-8-16   40.00 w/e  150 c ; \ 34.75 Feb 01 B&K Murray
: 125A-6-12   22.00 w/e  100 c ; \
: 125A-12-24  64.50 w/e  200 c ; \
: 200A-30-40 130.50 w/e  300 c ; \
: 200A-20-40 115.50 w/e  550 c ; \
: 200A-4-8   105.50 w/e  200 c ; \ LWOO4TR Kool Oct 96
: 200A-30-40 130.50 w/e  300 c ; \
: 200A-20-30 118.80 w/e  550 c ; \ 
: 200A-20-40 115.50 w/e  550 c ; \
Elect
: RT-PANEL  PANEL-RT ;





\ ENCLOSED-CB  RT           425-065a Page CB-8      04-13-96 AL
Vocabulary ENCLOSED-CB                    \ Used Sold Keep Have 
         ENCLOSED-CB definitions \                              
( Breaker included )                                            
: 200A        88.00 w/e  200 c ; \ Inc the breaker              
                                                                
( No breaker )
: 100A        40.00 w/e  100 c ; \ NIC the breaker              
Elect  \                                                        
                                                                

\ PANEL-3P   Three Phayse   425-065c  NOT BOLT-ON   88-07-30 AEC
Vocabulary Panel-3P      Panel-3P Definitions  \ Sold Keep Have
: 125A-12-24  85.50 w/e 350 c ; \ 3-97 Murry Gauntlet
: 150A-16-30  93.50 w/e 500 c ; \
: 200A-12-24  92.50 w/e 500 c ; \
: 200A-20-40 133.50 w/e 500 c ; \
: 200A-30-40 144.50 w/e 500 c ; \
: 200A-42-42 200.00 w/e 500 c ; \ Guess price 10-15
: 400A-24-42 369.00 w/e 600 c ; \ Not in b
Elect
: 3p-panel panel-3p ;
Elect

\ 3P-BOLT-ON
Vocabulary 3P-Bolt-On     3P-Bolt-On  Definitions
: 400A-42-42  900.00 w/e 700 c ; \ Guess time
: 200A-18-18  480.00 w/e 400 c ; \ Guess time  Guess prices all
: 200A-42-42  520.00 w/e 500 c ; \ Guess time
: 3P-70A      105.00 w/e  70 c ; \ Guess time
: 3P-50A       95.00 w/e  70 c ; \ Guess time   Guess prices all
: 3P-30A       75.00 w/e  65 c ; \ Guess time
: 3P-20A       75.00 w/e  60 c ; \ Guess time
: 2P-50A       45.00 w/e  55 c ; \ Guess time   Guess prices all
: 2P-30A       40.00 w/e  50 c ; \ Guess time   Guess prices all
: 2P-20A       30.00 w/e  50 c ; \ Guess time
: SP-20A       12.00 w/e  45 c ; \ 11.40 UES December 2011 Ghirardelli
Elect \ Prices B&K       November 2011  Ghirardell

\ 3P-COMMERCIAL-MP        C 475-040b                07-12-07 AL
Vocabulary 3P-MP ( All in one )                                 
           3P-MP definitions                                    
: 100A-18-30       700.00 w/e   200 c ; \ BY119JU               
: 200A-24-42       874.00 w/e   300 c ; \ BY129JU               
Elect                                                           
\ 3P-COML-MP  3p-commercial-mp ;                                
\ Crouse-Hinds  Page EM-5  Times are a guess
\ See 125 COMMERCIAL-MB                                         
                                                                

\ COMMERCIAL-METER        C 475-040 Crouse-Hinds !! 08-13-89 AEC
Vocabulary COMMERCIAL-METER               \ Used Sold Keep Have 
           COMMERCIAL-METER definitions   \ SKU# Sold Keep Have 
 : 100A       115.00  w/e 250 c ; \ BY110GK                     
 : 100A-3P    150.00  w/e 275 c ; \ BY120JK                     
 : 200A       188.00  w/e 275 c ; \ BY120GK                     
 : 200A-3P    222.00  w/e 300 c ; \ BY120HK                     
 : 200A-3P-4W 234.90 w/e  250 c ;               \               
Elect \                                                         
\ Crouse-Hinds  Page CM-3  Times are a guess                    
                                                                

\ COMMERCIAL-MM           C 475-040 Crouse-Hinds !! 08-13-89 AEC
Vocabulary COMMERCIAL-MM                       \ Used Sold Keep 
           COMMERCIAL-MM                                        
 : 100A-65K    209.00  w/e 250 c ; \ BY111GK                    
 : 100A-65K    425.00  w/e 250 c ; \ BY116GK  T Fuse            
 : 200A-35K    406.00  w/e 275 c ; \ BY125GK                    
 : 200A-100K   568.00  w/e 275 c ; \ BY122GK  T Fuse            
Elect \                                                         
\ Crouse-Hinds  Page CM-3  Times are a guess                    
                                                                

\ COMMERCIAL-MP           C 475-040 Crouse-Hinds !! 08-09-96 AEC
Vocabulary COMMERCIAL-MP                                        
           COMMERCIAL-MP    definitions   \ SKU# Sold Keep Have 
 : 100A-12-24 385.00  w/e 250 c ; \ BY119GU                     
 : 200A-24-40 694.00  w/e 275 c ; \ BY129GU                     
 : 400A-24-40 991.00  w/e 300 c ; \ M400 UG APSP                
Elect \                                                         
\ Crouse-Hinds  Page EM-3  Times are a guess                    
                                                                

\ METER (in)                                        09-16-08 AL
Vocabulary Meter          Meter definitions
: E-Monitor   480.00 w/e 250 c ; \ 379.00 Sept 08               
: 1-Gang       30.00 w/e 250 c ; \  72.00 in 2008
: 100A          1-GANG ;                                        
: 2-Gang      122.00 w/e 250 c ; \ 172 HSHDB   116.00 May 08    
: 3-Gang      175.00 w/e 300 c ; \ 173   Roake 148.00 Mar 02    
: 3-Gang-Vert 264.00 w/e 300 c ; \ 173   Roake 148.00 Mar 02    
: 4-Gang      350.00 w/e 350 c ; \ 174   Guess        Oct 06    
\ More than   5 see note below.                                 
: Link-Kit     25.00 w/e  50 C ; \ LK171B        23.75 Apr 02   
\ 5th-Jaw       2.30 w/e .....                                  
Elect  
: Meter-In Meter ;                                       
\ More than 4, have to join.  If you go to rain tite you will
\ be paying for 400 amp buss after 4 meters.                    
                                                                

\ METER-RT        Outdoor C 475-042  CS-6           87-08-16 AEC
Vocabulary Meter-RT \ OUT OF DATE!!!!!!   \ Used Sold Keep Have 
Meter-RT definitions            \         \ SKU# Sold Keep Have 
: 100A        22.90 w/e 250 c ; \ 475  ( 1-1/4 )    1    1    1 
: 1-GANG      16.50 w/e 250 c ; \                  24    2    2 
: 2-GANG      95.00 w/e 250 c ; \ 9-93 was low      -           
: 3-GANG     106.65 w/e 300 c ; \                   -           
: 4-GANG     132.40 w/e 350 c ; \ 225               -           
\ Below is 400 amp bussbars     \                   -           
\ 4-GANG                350 c ; \ 400A              -           
\ 5-GANG                400 c ; \                   -           
\ 6-GANG                450 c ; \                   -           
Elect                                                           
\ : Meter  ." IN or RT ?" ;                                     
\ It costs quite a bit less to use raintite than to pay         
\ for having a wooden box built.                                


\ HUB                     C 475-045  AR-15          01-28-95 AEC
Vocabulary Hub                            \ Used Sold Keep Have
                         HUB Definitions  \ SKU# Sold Keep Have
: 1/2        600.00 w/c  25 c ; \                   1    1    0
: 3/4        600.00 w/c  30 c ; \                        1    1
: 1-in       600.00 w/c  35 c ; \                        2    3
: 1-1/4     1007.00 w/c  40 c ; \ March 2014        4    3    3
: 1-1/2      600.00 w/c  50 c ; \                        2    3
: 2-in       600.00 w/c  65 C ; \                   1    1    1
: 2-1/2     1000.00 w/c  65 C ; \ too low?               1    2
: 3-in      1200.00 w/c  65 C ; \ guess                  1    2
: Adapter    515.00 w/c  65 C ; \                        1    2
\ Conduit termination bushing set times.                        
\ Blank                                                  2    2 
Elect                                                           
                                                                

\ MYERS-HUB                 475-050  AR-13 x 2      06-19-07 AL
Vocabulary Myers-Hub   MYERS-HUB  Definitions                   
: 1/2    587.00 w/c  25 c ; \ 2 x the time                      
: 3/4    622.00 w/c  28 c ; \                            1    1 
: 1-in   857.00 w/c  32 c ; \ A guess here                      
: 1-1/4 1036.00 w/c  40 c ; \                            1    1 
: 1-1/2 1306.00 w/c  50 c ; \                            1    1 
\ 2-in          w/c  60 c ; \                            -      
\ 2-1/2         w/c   0 c ; \                            -      
\ 3-in          w/c   0 c ; \                            -      
\ 3-1/2         w/c   0 c ; \                            -      
\ 4-in          w/c   0 c ; \                            -      
\ Twice as long as a NT-CON because of having to hole saw
\ a hole in the sheet metal.                                    
\ A "Myers" is is a water proof hub for use out doors, "O" ring 
Elect 


\ COMMERCIAL-MM-Old       C 475-051 Crouse Hinds    87-08-23 AEC
Vocabulary Commercial-MM  Commercial-MM Definitions \  CS-6     
: 100a          175.00 w/e  200 c ; \ Albi\      Sold Keep Have 
: 200a          359.00 w/e  250 c ; \ Fillmore                  
: 200A-3P       525.00 w/e  250 c ; \ BY125JU                   
\ OH-100A         "65K      250 c ;                             
\ UG-100A                                                       
\ OH-200A          "35k )   250 c ;                             
\ UG-200A                                                       
\ 3P-UG-200A ( cb=f )  ( NPS 475-109 Milbank S8144YL )          
ELECT
\ Commercial meter main  prices from the Crouse Hinds           
\ on page 71...   The NPS number is made up.                    
                                                                

\ COM-MP                  C 475-052 Crouse Hinds
Vocabulary Com-MP                         \ Used Sold Keep Have
                          Com-MP Definitions \  CS-6            
\ 100A-10-20                                                    
: 100A-12-24  [   769.00 2. D/ ] dliteral w/e 200 c ; \ BY119GU 
: 200A-24-40  [ 1259.00 2. D/ ] dliteral w/e 300 c ; \ BY129GU ,
\ See COMMERCIAL-MP-3P  127
Elect                                                           


\ M-P       Meter Breaker C 475-153  CS-6           07-08-07
Vocabulary M-P
              ( 55 )     M-P Definitions
: 100A-10-20   103.79 w/e 250 c ; \ JA110AS 76.71     2012  Not made
: 100A-12-24   149.56 w/e 250 c ; \ JA112CY UG/OH  March 2014
: 100A-16-24   189.50 w/e 250 c ; \ Westinghouse   March 2014
: 125A-16-24   220.50 w/e 250 c ; \ JA416CS
: 200A-8-16    225.00 w/e 290 c ; \ JA206CS
: 200A-20-40   189.00 w/e 290 c ; \ March 2014
: 200A-30-40*  275.00 w/e 100 c ; \ Guess
\              129.00 B&K Apr 97  \ JA220CW Pheonex             
: 400A-20-42 1300.00 w/e 300 c ; \ ,                            
Elect \                                                         
